@use "../../_import.scss" as *;

.background-image {
  background-image: url("/assets/background_pictures/glossary_background.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  padding-top: $globalPaddingTop;
  color: #d6d5bf;

  .title {
    font-family: "Cinzel";
  }

  .text-description {
    font-family: "Inika";
  }
}
