@use "../../../import" as *;

.flexRow{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 100px);
    margin-top:2%;
}

.addiction {
  grid-column: 1;
  grid-row: 1;
}

.displayCaracteristics {
    display:flex;
    flex-direction:row;
    align-items:center;
    text-align:center;
}

.charism {
  grid-column: 2;
  grid-row: 1;
}

.constitution {
  grid-column: 1;
  grid-row: 2;
}

.dexterity {
    grid-column: 2;
    grid-row: 2;
}

.strength {
    grid-column: 1;
    grid-row: 3;
}

.intelligence {
    grid-column: 2;
    grid-row: 3;
}

.perception {
    grid-column: 1;
    grid-row: 4;
}

.speed {
    grid-column: 2;
    grid-row: 4;
}

.wisdom {
    grid-column: 1;
    grid-row: 5;
}

.survival {
    grid-column: 2;
    grid-row: 5;
}



.modifying
{
    width:760px;
    height:600px;
    background-color:#202229;
    margin-bottom:12%;
    margin-left:6%;
    margin-right:6%;
    border-radius: 10px;
    color:white;
    font-size:13px;
}



h1{
    font-size:25px;
}

h2{
    font-size:20px;
    color: white;
    text-align:center;
}

.title
{
    color:white;
    text-align: center;
    margin-top : 5%
}

h2
{
    margin-top:5%;
    margin-bottom:5%;
}

.modifyTitle
{
    text-align: center;
    margin-top : 2%;
}

.stat{
    display:flex;
    flex-direction:row;
    color:white;
    height: 40px;
}
button
{
    margin-top:0%;
}

@media screen and (max-width: 768px) {
    h2 {
        margin-top:10%;
    }
    .flexRow{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 100px);
        margin-top:2%;
    }

    .modifying{
        width:400px;
        height:800px;
    }
    
    .addiction {
      grid-column: 1;
      grid-row: 1;
    }
    
    .charism {
      grid-column: 2;
      grid-row: 1;
    }
    
    .constitution {
      grid-column: 1;
      grid-row: 2;
    }
    
    .dexterity {
        grid-column: 2;
        grid-row: 2;
    }
    
    .strength {
        grid-column: 1;
        grid-row: 3;
    }
    
    .intelligence {
        grid-column: 2;
        grid-row: 3;
    }
    
    .perception {
        grid-column: 1;
        grid-row: 4;
    }
    
    .speed {
        grid-column: 2;
        grid-row: 4;
    }
    
    .wisdom {
        grid-column: 1;
        grid-row: 5;
    }
    
    .survival {
        grid-column: 2;
        grid-row: 5;
    }
  }