.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 14%;
  
    .carousel-slide {
      display: none;
      width: 100%;
      text-align: center;
  
      &.active {
        display: block;
      }
  
      img {
        width: 100%;
        max-height: 400px; /* Ajustez cette valeur selon vos besoins */
        object-fit: cover;
      }
    }
  
    .carousel-caption {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      background: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 10px;
      border-radius: 5px;
    }
  
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      z-index: 10;
  
      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  
    button:nth-of-type(1) {
      left: 10px;
    }
  
    button:nth-of-type(2) {
      right: 10px;
    }
  }
  