<div class="list-breed-container">
  @for (race of races; track race) {
  <section class="picture-profile-race-container">
    <img [src]="race.url" alt="{{ race.name }}" />
  </section>
  <section class="card-profile-race-model">
    <div class="title-container">
      <h2 class="breed-title">{{ race.name }}</h2>
      <svg
        width="230"
        height="109"
        viewBox="0 0 230 109"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line
          x1="-8.74228e-08"
          y1="74"
          x2="230"
          y2="74"
          stroke="black"
          stroke-width="2"
        />
        <line
          x1="187"
          y1="-4.37114e-08"
          x2="187"
          y2="109"
          stroke="black"
          stroke-width="2"
        />
      </svg>
    </div>
    <p class="breed-description">{{ race.description }}</p>
    <p class="racial-trait">
      <span class="bold-title">Traits raciaux :</span> {{ race.racial_trait }}
    </p>
    <ul class="breed-statistics">
      <li>
        <span class="bold-title">Âge :</span> {{ race.min_age }} -
        {{ race.max_age }}
      </li>
      <li>
        <span class="bold-title">Taille :</span> {{ race.min_height }} -
        {{ race.max_height }}
      </li>
      <li><span class="bold-title">Vitesse :</span> {{ race.speed }}</li>
      <li>
        <span class="bold-title">Langues :</span> {{ race.languages }}, +{{
          race.number_additional_language
        }}
        autre(s)
      </li>
    </ul>
  </section>
  }
</div>
