@use "../../../import" as *;
// @use "../../styles/glossary.scss";

.breed-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../assets/background_pictures/backgroung-race-page.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding-top: 10%;
  padding-bottom: 4%;

  .breed-introduction {
    width: 85%;
    text-align: center;
    margin: 50px 50px;
    border: $borderCardBreed;
    border-radius: 10px;
    background-color: #a16a5f80;
    backdrop-filter: blur(10px);
    padding: 1.5rem 3rem;
    font-size: 1.1rem;

    h2 {
      font-family: $subTitleFont;
      color: $textLightColor;
      margin: 25px 0 25px 0;
    }
  }

  .list-breed-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.1rem;
    gap: 1.2rem 0;
    margin-bottom: 50px;
    padding: 0;
    color: $textColor;

    .picture-profile-race-container {
      width: 30%;
      height: 100%;
      justify-self: center;
      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: contain;
        border: $borderCardBreed;
      }
    }

    .card-profile-race-model {
      width: 55%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 1.5rem 3rem;
      border: $borderCardBreed;
      background-image: none;
      background-color: #a16a5f80;
      border-radius: 10px;
      backdrop-filter: blur(10px);

      .title-container {
        position: relative;
        width: 100%;
        .breed-title {
          width: max-content;
          font-family: $subTitleFont;
          font-weight: $fontBoldStyle;
          font-size: 30px;
          color: $textLightColor;
          position: relative;
          padding: 20px 20px;
        }
        //placer les droites perpendiculaires décoratives
        .breed-title::before,
        .breed-title::after {
          content: "";
          position: absolute;
          background: $textLightColor;
        }

        .breed-title::before {
          width: 2px;
          height: 110px;
          right: 0;
          top: -5px; /* Ajustez cette valeur selon vos besoins */
        }

        .breed-title::after {
          width: calc(100% + 40px); //ajuster 50px
          height: 2px;
          left: 0; // à ajuster
          bottom: 0;
        }
      }
      .bold-title {
        font-weight: $fontBoldStyle;
        color: $textColor;
      }
      .breed-description {
        // margin-top: 2rem;
        font-family: $contentFont;
        color: $textColor;
        .description {
          margin-top: 20px;
        }
        .racial-trait {
          margin-top: 20px;
        }
      }
      .breed-statistics {
        margin-top: 20px;
      }
    }
  }
  .list-breed-container:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  //responsive image au-dessus
  @media (max-width: 968px) {
    .breed-introduction {
      padding: 1rem 1.5rem;
    }
    .list-breed-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
      .picture-profile-race-container {
        width: 80%;
        height: 100%;
      }
      .card-profile-race-model {
        width: 80%;
        padding: 1.5rem;
        .breed-title {
          font-size: 25px !important;
        }
        .breed-description {
          margin-top: 3rem;
        }
      }
    }
  }
}
