<div class="global-content">
  <section class="place-content">
    <h1 class="main-title">
      Votre croyance est définie par votre continent d'origine
    </h1>
    <h2 class="sub-title">Lieu d'origine</h2>
    <h3 class="continent-title"><span></span></h3>
    <p class="description"></p>
    <button type="button">Retour</button>
  </section>
  <section class="belief-content">
    <h1 class="main-title">Croyances<span></span></h1>
    <h2 class="sub-title">Les cultes dans le royaume de Norta</h2>
    <p class="description"></p>
    <button type="button">Retour</button>
  </section>
</div>
