<footer class="footer">
  <div class="containerFooter">
    <ul class="globalInformation">
      <li><a routerLink="/home">Conditions Générales</a></li>
      <li><a routerLink="/home">Contacts</a></li>
      <li><a routerLink="/home">FAQ</a></li>
    </ul>
    <div class="credits">
      <p>Expenssion-One &#64;BlopGamesProject.</p>
      <p>
        Tous droits réservés à l’entreprise<a routerLink="/home">
          © BlopGameStudio</a
        >
      </p>
    </div>
    <div>
      <a routerLink="/home">
        <img
          class="discord"
          src="\assets\pictures\62d126dcfc3c38c276627e6a251a6c25-removebg-preview.png"
          alt="logo Discod"
        />
      </a>
    </div>
  </div>
</footer>
<!-- Les liens renvoient tous pour le moment sur /home en attendant la créations des pages ou components -->
