@use "../../../import" as *;

.background_image {
    background-image: url("../../../assets/background_pictures/home_page_background.png");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: calc(100vh - $footerHeight);
}

section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    padding: 1em;
}

h1,
h2 {
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 70px;
    font-weight: 500;
    font-family: $mainTitle;
}

h2 {
    margin-top: 2rem;
    font-size: 30px;
    font-family: $subTitleFont;
    font-weight: $fontBoldStyle;
}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 18px;
    }
}