@use "../../../_import.scss" as *;

.background-image {
    background-image: url("/assets/background_pictures/character_secrets_background.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-height: calc(100vh - $headerHeight);
    color: white;
    font-family: "Inika";
    font-size: 2rem;


    h1 {
        font-family: "Cinzel";
    }

    display: flex;
    align-items: center;
    justify-content: center;
    .secrets-container{
        width: 80vw;
        min-height:40vh;
        background-color: rgb(76,20,26,0.4);
        display: flex;
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .generate-secrets-text{
            text-align: center;
            color: white;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .generate-secrets:hover img,.secret-label:hover img {
                filter: grayscale(100%);
            }
           
        .secrets{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        
            .secret{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
                .secret-label {
                        display: flex;
                        align-items: center;
                        gap:10px       
                    }
                .secret-output-container{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .secret-output{
                        padding: 8px;
                        border: 1px solid black;
                        border-radius: 4px;
                        background-color: rgb(211, 171, 142);
                        height: 40px;
                        box-sizing: border-box;
                        color: #666;
                    }
                    .reset-button img{
                        position: relative;
                        height: 100px;
                        &:hover {
                                filter: grayscale(100%);
                            }
                    }

            }
            }
        }
        .validate-button{
            font-size: 1.5rem;
            margin-bottom: 50px;
            box-sizing: border-box;
            width: 209px;
            height: 42px;
            background: #CE7A3E;
            border: 1px solid #000000;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            &:hover{
                filter: grayscale(100%);
            }
        }

    }
       

    
       
    
}

 @media screen and (max-width: 768px) {
     .secret-output {
         min-width: none !important;
     }

 }

