<section class="background-image">

    <div class="secrets-container">
        @if(!isGenerate){
                    <h1 class="generate-secrets-text">GÉNÉRER VOS SECRETS</h1>
                    <button class="generate-secrets" (click)="initializeSecrets()"><img src="assets/pictures/dice.svg"></button>
        }
        @else{
            <h1 class="generate-secrets-text">VOUS POUVEZ RELANCER UNIQUEMENT L'UN DES DEUX SECRETS</h1>
                    <div class="secrets">
                        <div class="secret">
                            <div class="secret-label">
                                Secret primordial:
                                <img matTooltip="Info about primordial secret" matTooltipPosition="above"
                                    src="assets/pictures/information.svg">
                            </div>
                            <div class="secret-output-container">
                                <div class="secret-output" [ngStyle]="{'margin-left': isGenerate && !isReset ? '80px' : '0px'}">
                    
                                </div>
                                @if(isGenerate && !isReset){
                                <button class="reset-button" (click)="resetPrimordialSecret()">
                                    <img src="assets/pictures/dice.svg" alt="reset">
                                </button>
                                }
                            </div>
                        </div>
                        <div class="secret">
                            <div class="secret-label">
                                Secret Anecdotique:
                                <img matTooltip="Info about secondary secret" matTooltipPosition="above"
                                    src="assets/pictures/information.svg">
                            </div>
                            <div class="secret-output-container">
                                <div class="secret-output" [ngStyle]="{'margin-left': isGenerate && !isReset ? '80px' : '0px'}">
                    
                                </div>
                                @if(isGenerate && !isReset){
                                <button class="reset-button" (click)="resetSecondarySecret()">
                                    <img src="assets/pictures/dice.svg" alt="reset">
                                </button>
                                }
                            </div>
                        </div>
                    
                    </div>
        }

       
        @if(isGenerate){
            <button class="validate-button" (click)="saveCharacter()">VALIDER</button>
        }
    </div>

</section>
