$play-button-width: 200px;
$navbar-height: 80px;




.mat-accordion {
  width: 100%;
  transition: height 0.3s ease;
  padding: 0 0 0 0;
  border-radius: 0;
  background-color: rgba(51, 50, 50, 0.7);

}

.mat-accordion {
  &>.mat-expansion-panel {

    &:first-of-type,
    &:last-of-type {
      border-radius: unset;
      background-color: rgba(51, 50, 50, 0.7);

    }
  }
}



.mat-expansion-panel {
  background-color: rgba(51, 50, 50, 0.7);

}

.mat-expansion-panel-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar-expanded {
  height: 400px;
  /* Adjust height as needed */
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .navbar-container {
    display: flex;
    //background-color: rgba(51, 50, 50, 0.7);
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    height: $navbar-height;
  }


  .a {

    color: white;
    text-decoration: none;
    font-size: 30px;
    margin: 0 10px;
  }

  .navbar {
    display: flex;
    background-color: rgba(51, 50, 50, 0.7);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: $navbar-height;

    .logo {
      .logo-image {
        padding: 5px 5px 5px 5px;
        align-self: center;
        justify-content: center;
        height: 75px;
      }

    }

    .connexion-container {

      .connexion-logo {
        padding: 5px 5px 5px 5px;
        justify-content: center;
        align-items: center;
      }
    }


    .navbar-center {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $play-button-width;
    }

    .navbar-left {
      display: flex;
      margin-right: 2vw;

    }


  }

  .navbar-right {
    display: flex;
    margin-left: 2vw;
    gap: 1rem;
  }

  .play-button {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);


    .image-jouer-container {
      align-self: center;
      align-content: center;
      justify-content: center;
      width: $play-button-width;
      height: 125px;

    }

  }

}

.menu {
  margin-top: 80px;
  display: block;
}





.navbar-left ul {
  pointer-events: all;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1rem; // Adjusts spacing between navbar-left items
}

.navbar-left li {
  position: relative;
  width: 100%;
}

.navbar-left li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-left li:hover ul {
  display: block;

}

/* src/app/navbar/navbar.component.scss */