<!-- src/app/navbar/navbar.component.html -->
<header class="header">
  <nav class="navbar">

    <div class="logo">
      <img class="logo-image" src="assets/pictures/Blop.png" alt="Logo">
    </div>

    <div class="navbar-center">
      <div class="navbar-left">
        <ul>
          <li class="jeu-button"(mouseover)="showMenu = true" (mouseleave)="showMenu = false">Jeu
            @if(showMenu){
              <ul class="menu">
                <li><a href="#">Introduction</a></li>
                <li><a href="#">Règles</a></li>
              </ul>
            }
            
          </li>
          <!-- <li><a href="#">Glossaire</a>
            <ul>
              <li><a href="#">Races</a></li>
              <li><a href="#">Classes</a></li>
              <li><a href="#">Les Secrets</a></li>
              <li><a href="#">Croyances</a></li>
              <li><a href="#">Lieux</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
      <div class="navbar-right">
        <a href="#">News</a>
        <a href="#">Studio</a>
      </div>
    </div>

    <div class="connexion-container">
      <img class="connexion-logo" src="assets/pictures/Connexion.png" alt="Connexion">
    </div>

  </nav>

  <div class="play-button">
    <img class="image-jouer-container" src="assets/pictures/jouer.png" alt="Jouer">
  </div>

</header>