<div class="">
    <section class="world_map_container">
    <h1>Carte du monde</h1>
    <div class="world_map">
        <img src="../assets/pictures/Norta_map.svg" alt="Norta" usemap="#norta">
        <map name="norta">
            <area shape="circle" coords="84,40,10" alt="portax">
            <area shape="circle" coords="134,46,10" alt="mayere">
            <area shape="circle" coords="176,42,10" alt="quarnicor">
            <area shape="circle" coords="206,46,10" alt="balumin">
            <area shape="circle" coords="254,35,10" alt="syras">
            <area shape="circle" coords="287,38,10" alt="tolmesa">
            <area shape="circle" coords="330,23,10" alt="nasram">
            <area shape="circle" coords="225,50,10" alt="uhne">
            <area shape="circle" coords="144,69,10" alt="mortaru">
            <area shape="circle" coords="161,88,10" alt="tamur">
            <area shape="circle" coords="206,96,10" alt="rotam">
            <area shape="circle" coords="250,97,10" alt="iacchus">
            <area shape="circle" coords="272,123,10" alt="falas">
            <area shape="circle" coords="330,91,10" alt="rolmoll">
            <area shape="circle" coords="372,93,10" alt="malequo">
            <area shape="circle" coords="314,124,10" alt="roemul">
            <area shape="circle" coords="386,124,10" alt="arguerar">
            <area shape="circle" coords="364,138,10" alt="navago">
            <area shape="circle" coords="459,89,10" alt="tarsseno">
            <area shape="circle" coords="497,102,10" alt="etalia">
            <area shape="circle" coords="492,141,10" alt="rastual">
            <area shape="circle" coords="453,150,10" alt="ostior">
            <area shape="circle" coords="452,180,10" alt="ostal">
            <area shape="circle" coords="393,144,10" alt="sarnen">
            <area shape="circle" coords="396,166,10" alt="halmi">
            <area shape="circle" coords="404,190,10" alt="talath">
            <area shape="circle" coords="417,209,10" alt="fanolox">
            <area shape="circle" coords="420,230,10" alt="taurmon">
            <area shape="circle" coords="437,249,10" alt="oroduis">
            <area shape="circle" coords="516,219,10" alt="la-celestale">
            <area shape="circle" coords="435,269,10" alt="alett">
            <area shape="circle" coords="449,326,10" alt="noctia">
            <area shape="circle" coords="497,337,10" alt="sinatre">
            <area shape="circle" coords="442,392,10" alt="anguerra">
            <area shape="circle" coords="339,368,10" alt="palormos">
            <area shape="circle" coords="318,363,10" alt="dornett">
            <area shape="circle" coords="344,336,10" alt="ralafax">
            <area shape="circle" coords="367,316,10" alt="arnir">
            <area shape="circle" coords="377,279,10" alt="mal">
            <area shape="circle" coords="338,278,10" alt="noctura">
            <area shape="circle" coords="343,365,10" alt="holmer">
            <area shape="circle" coords="350,233,10" alt="tripinnath">
            <area shape="circle" coords="369,191,10" alt="ladminas">
            <area shape="circle" coords="324,213,10" alt="nortir">
            <area shape="circle" coords="339,181,10" alt="pyra">
            <area shape="circle" coords="336,152,10" alt="tovat">
            <area shape="circle" coords="267,153,10" alt="le-rempart">
            <area shape="circle" coords="285,171,10" alt="neleyn">
            <area shape="circle" coords="301,202,10" alt="toffal">
            <area shape="circle" coords="261,208,10" alt="norshan">
            <area shape="circle" coords="232,222,10" alt="polax">
            <area shape="circle" coords="220,254,10" alt="tolered">
            <area shape="circle" coords="275,279,10" alt="ereden">
            <area shape="circle" coords="293,326,10" alt="dwaria">
            <area shape="circle" coords="282,349,10" alt="umere">
            <area shape="circle" coords="247,326,10" alt="lunaris">
            <area shape="circle" coords="232,358,10" alt="arnorea">
            <area shape="circle" coords="212,334,10" alt="rim">
            <area shape="circle" coords="193,378,10" alt="udrof">
            <area shape="circle" coords="185,366,10" alt="la-baie-des-morts">
            <area shape="circle" coords="202,326,10" alt="urdan">
            <area shape="circle" coords="233,298,10" alt="tyrna">
            <area shape="circle" coords="199,265,10" alt="rafmen">
            <area shape="circle" coords="180,285,10" alt="tirifa">
            <area shape="circle" coords="106,318,10" alt="malto">
            <area shape="circle" coords="69,314,10" alt="runa">
            <area shape="circle" coords="56,331,10" alt="infigar">
            <area shape="circle" coords="51,358,10" alt="polymes">
            <area shape="circle" coords="87,366,10" alt="talkoss">
            <area shape="circle" coords="206,214,10" alt="alarya">
            <area shape="circle" coords="184,203,10" alt="elia">
            <area shape="circle" coords="190,172,10" alt="orodia">
            <area shape="circle" coords="217,157,10" alt="balaelle">
            <area shape="circle" coords="191,121,10" alt="thax">
            <area shape="circle" coords="185,112,10" alt="meler">
            <area shape="circle" coords="108,114,10" alt="excala">
            <area shape="circle" coords="146,126,10" alt="reyes">
            <area shape="circle" coords="161,153,10" alt="illot">
            <area shape="circle" coords="84,144,10" alt="nalos">
            <area shape="circle" coords="149,206,10" alt="thaurlad">
            <area shape="circle" coords="122,218,10" alt="finarys">
            <area shape="circle" coords="89,221,10" alt="ducaria">
        </map>
    </div>
    <div class="show_cities_descriptions">
        @if (portax == true) {
            <h2>{{ city.name }}</h2>
            <p></p>
        }
    </div>
    <button>Valider</button>
</section>
</div>