@use "../../../import" as *;

.background-image {
  background-image: url("/assets/background_pictures/locations_background.jpeg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.location_content {
  color: $textColor;
  padding-top: $globalPaddingTop;
  padding-left: $glossaryPaddingLeftDesktop;
  padding-right: $glossaryPaddingRightDesktop;
}

h1,
h2,
h3 {
  text-align: center;
}

h1, h2 {
  font-family: $subTitleFont;
}

h2 {
  font-size: 40px;
  margin-top: 2rem;
}

h3,
h4 {
  font-family: $contentFont;
  font-size: x-large;
  margin-top: 2rem;
}

h4 {
  text-decoration: underline;
}

.continent-description {
  text-align: center;
}

p {
  font-size: larger;
  font-family: $contentFont;
  line-height: 1.5;
}

.worldmap {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}

@media screen and (max-width: 768px) {
  .location_content {
    color: $textColor;
  }

  img {
    max-width: 100%;
  }
}
