  <div class="background_image">
    <div class="location_content">
        <section>   
        <h1 class="title">Carte du monde</h1>
        <div class="worldmap"><img src="../assets/pictures/WorldMap.png" alt="Carte du monde"></div>
    </section>
    <section>
            <ul>@for(continent of continents; track continent) {
                <li><h2>{{ continent.name }}</h2><br></li>
                    <li><p>{{ continent.description }}</p><br></li>
                    @for(region of continent.regions; track region) {
                         <li><h3>{{ region.name }}</h3><br></li>
                            @for(city of region.cities; track city) {
                                <li><h4>{{ city.name }}</h4><br></li>
                                <li><p>{{ city.description }}</p><br></li>
                            }  
                    } 
            }
        </ul>
    </section>
</div>
</div>

