
    <form>
        <div class="container">
            <div class="connect">
                SE CONNECTER
            </div>
            <div class="logo">
                <img class="logo-content" src="assets/pictures/Blop.png" alt="Logo">
            </div>
            <div class="formatText">
                Identifiant :
            </div>
            <input type="text" class="inputLogin" [(ngModel)] = "login.login" [ngModelOptions]="{standalone: true}"/>
            <div class="formatText">
                Mot de passe :
            </div>
            <input type="text" class="inputLogin" [(ngModel)] = "login.password" [ngModelOptions]="{standalone: true}"/>
            <div class="formatText forgot-password">
                Mot de passe oublié ?
            </div>
            <div>
               <button class = "connexionButton">Connexion</button>
            </div>
            <div>
               <button class = "registerButton">Inscription</button>
            </div>
        </div>
    </form>


