
.container {
    background: url('../../../assets/background_pictures/connexion_responsive.jpeg');
    left: 50%;
    top: 20px;
    width: 100%;
    height: 325px;
    margin-top:80px;    
  }
  .formatText
  {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 10px;
    color: #000000;
    align-self: flex-start;
    overflow-wrap: break-word;
    margin-left:40%;
  }
  .connect {
    margin-top:5%;
    align-self: center;
    overflow-wrap: break-word;
    margin-left:40%;
  }
  
  .forgot-password {
    text-decoration-line: underline;
  }
  .inputLogin{
    height: 23.5px;
    width: 148px;
    border-radius: 50px;
    background-color: white;
    padding-left: 5%;
    margin-left:40%;
  }
  .connectButton{
    margin-top:10px;
    height: 23.5px;
    margin-left:40%;
    width: 148px;
    border-radius: 50px;
    background-color:black;
    color: white;
  }
  .registerButton{
    margin-top:10px;
    margin-left:40%;
    height: 23.5px;
    width: 148px;
    border-radius: 50px;
    background-color:#625B5B;
    color: white;
  }
  .logo {
    margin-left:45%;
    .logo-content {
      height: 75px;
      width:75px;
    }
  }


  