@use "../../../import" as *;
$header_height:80px;
.header {

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  left: 0;
  
  .burger-button-container{
    display: flex;
    margin-left: 10px;
    margin-top: 15px;
    .burger-button{
      align-items: center;
      justify-content: center;
      .large-icon {
        height: 50px;
      }       
    }
  }
  
  .navbar-container {
    font-family: $subTitleFont;
    font-weight: $fontBoldStyle;
    display: flex;
    background-color: rgba(51, 50, 50, 0.7);
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    height: $header_height;

    .logo {
      margin-left:55px;
      .logo-image {
        height: 75px;
      }
    }

        .connection-container {
          display: flex;
          width: 100px;
          margin-top: 10px;
          margin-right: 20px;
          justify-content: right;
          align-items: center;
    
          .connection-image {
            display: grid;
            grid-template-columns: 1fr;
            place-items: center;
    
            img {
              grid-column-start: 1;
              grid-column-end: 1;
              grid-row-start: 1;
              grid-row-end: 1;
            }
    
            .avatar {
              z-index: 2;
              height: 40px;
              width: 40px;
    
            }
    
            .avatar-gear {
              z-index: 1;
    
              height: 53px;
              width: 53px;
            }
    
    
          }
    
          .logout-image {
            height: 53px;
            width: 53px;
    
          }
    
        }
  } 
    .navbar-container-open {
      display: flex;
      width: 100%;
      align-items: flex-start;
      justify-content: space-between;
      height: $header_height;
      .logo {
          margin-left: 10px;
      
          .logo-image {
            height: 75px;
          }
        }
      
        .connection-container {
          margin-top: 12px;
          margin-right: 10px;
      
          .connection-logo {
            justify-content: center;
            align-items: center;
            height: 53px;
            width: 53px;
          }
        }
    }
}

.sidenav {
    position: fixed;
    
    padding-left: 20px;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(51, 50, 50, 0.7);
    backdrop-filter: blur(4px);
    z-index: 2;
    color: white;
    line-height: 2rem;
    padding-top: 50px;
    font-size: 20px;
    .sidenav-container{
      padding-top: $header_height;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

    }

    ul{
      margin-left: 25px;
      li{
        ul{
          padding-left: 25px;
        }
      }
    }
  }

     @media screen and (max-height: 550px) {
      .sidenav{
   
              
              font-size: 20px;
              line-height: 1.2rem;
              .sidenav-container{
               
                justify-content: center;
              }
      }
     }

