<header class="header">
    <nav class="navbar">
      <div class="navbar-container">

        <div class="burger-button-container">
            <button (click)="toogle()" class="burger-button" mat-mini-fab color="primary">
                <mat-icon>menu</mat-icon>
            </button>        
          </div>


        <div class="logo">
          <img class="logo-image" src="assets/pictures/Blop.png" alt="Logo">
        </div>

       
        <div class="connexion-container">
          <img class="connexion-logo" src="assets/pictures/Connexion.png" alt="Connexion">
        </div>
  
  
      </div>
    </nav>
  </header>

  @if((isMobileSidenavOpen$|async)){
    <div class="sidenav">
        <ul>
            <li routerLink="game" class="jeu-button">Jeu
              <ul class="submenu">
                <li>Introduction</li>
                <li>Règles</li>
              </ul>
            </li>
            <li>Glossaire
              <ul class="submenu">
                <li>Races</li>
                <li>Classes</li>
                <li>Les Secrets</li>
                <li>Croyances</li>
                <li>Lieux</li>
              </ul>
            </li>
  
            <li>News</li>
            <li>Studio</li>
          </ul>

      </div>
  }


