<header class="header">
  <nav class="navbar">
    <div
      [ngClass]="
        isMobileSideNavOpen ? 'navbar-container-open' : 'navbar-container'
      "
    >
      <div class="burger-button-container">
        <button (click)="toggle()" class="burger-button">
          @if(isMobileSideNavOpen){
          <img src="assets/pictures/close.svg" class="large-icon" img />
          } @else{
          <img src="assets/pictures/burger-menu.svg" class="large-icon" img />
          }
        </button>
      </div>

      <div class="logo">
        <a routerLink="accueil" (click)="isMobileSideNavOpen = false"
          ><img class="logo-image" src="assets/pictures/Blop.png" alt="Logo"
        /></a>
      </div>

      <div class="connection-container">
        @if((isLogin$| async) ===true){
        <a routerLink="/profil">
          <div class="connection-image">
            <img
              class="avatar"
              src="assets/pictures/Connexion.png"
              alt="profil"
            />
            <img
              class="avatar-gear"
              src="assets/pictures/headerGearProfil.png"
            />
          </div>
        </a>
        <button (click)="onLogout()">
          <img
            class="logout-image"
            src="assets/pictures/log-out-button.svg"
            alt="LO"
          />
        </button>
        } @else {
        <button (click)="openDialogConnection(); isMobileSideNavOpen = false">
          <img
            class="connection-logo"
            src="assets/pictures/Connexion.png"
            alt="Connection"
          />
        </button>
        }
      </div>
    </div>
  </nav>
</header>

@if(isMobileSideNavOpen){
<div class="sidenav">
  <div class="sidenav-container">
    <ul>
      <li>
        <a (click)="isMobileSideNavOpen = false" routerLink="accueil"
          >Création De Personnage</a
        >
      </li>
      <li>
        Jeu
        <ul class="submenu">
          <li>
            <a (click)="isMobileSideNavOpen = false" routerLink="regles"
              >Introduction</a
            >
          </li>
          <li>
            <a
              (click)="isMobileSideNavOpen = false"
              routerLink="regles"
              fragment="reglesdujeu"
              >Règles</a
            >
          </li>
        </ul>
      </li>
      <li>
        Glossaire
        <ul class="submenu">
          <li>
            <a
              (click)="isMobileSideNavOpen = false"
              routerLink="glossaire/races"
              >Races</a
            >
          </li>
          <li>
            <a
              (click)="isMobileSideNavOpen = false"
              routerLink="glossaire/classes"
              >Classes</a
            >
          </li>
          <li>
            <a
              (click)="isMobileSideNavOpen = false"
              routerLink="glossaire/secrets"
              >Secrets</a
            >
          </li>
          <li>
            <a
              (click)="isMobileSideNavOpen = false"
              routerLink="glosssaire/croyances"
              >Croyances</a
            >
          </li>
          <li>
            <a
              (click)="isMobileSideNavOpen = false"
              routerLink="glossaire/lieux"
              >Lieux</a
            >
          </li>
        </ul>
      </li>

      <li>
        <a (click)="isMobileSideNavOpen = false" routerLink="news">News</a>
      </li>
      <li>
        <a (click)="isMobileSideNavOpen = false" routerLink="construction"
          >Studio</a
        >
      </li>
    </ul>
  </div>
</div>
}
