<header class="header"  [ngClass]="{ 'blur-background': isMobileSideNavOpen }">
    <nav class="navbar">
      <div class="navbar-container">

        <div class="burger-button-container">
            <button (click)="toggle()" class="burger-button">
              @if(isMobileSideNavOpen){
                <img src="assets/pictures/close.svg" class="large-icon" img> 
              }
              @else{
                <img src="assets/pictures/burger-menu.svg" class="large-icon" img> 
              }
                 
            </button>        
          </div>


        <div class="logo">
          <a routerLink="home"><img class="logo-image" src="assets/pictures/Blop.png" alt="Logo"></a>
        </div>

       
        <div class="connection-container">
            @if((isLogin$| async) ===true){
            <img routerLink="/profil" class="connection-logo" src="assets/pictures/Connexion.png" alt="profil">
            <img (click)="onLogout()" class="connection-logo" src="assets/pictures/log-out-button.svg" alt="LO">           
            }
            @else {
            <img (click)="openDialogConnection()" class="connection-logo" src="assets/pictures/Connexion.png" alt="Connection">
            }

        </div>
  
  
      </div>
    </nav>
  </header>

  @if(isMobileSideNavOpen){
    <div class="sidenav">
        <ul>
            <a (click)="toggle()" routerLink="home"><li>Création De Personnage</li></a>
            <li>
              Jeu
              <ul class="submenu">
                <a (click)="toggle()" routerLink="home"><li>Introduction</li></a>
                <a (click)="toggle()"  routerLink="home"><li>Règles</li></a>
              </ul>
            </li>
            <li>
              Glossaire
              <ul class="submenu">
                <a (click)="toggle()" routerLink="home"><li>Races</li></a>
                <a (click)="toggle()" routerLink="glossaire/classes"><li>Classes</li></a>
                <a (click)="toggle()" routerLink="home"><li>Secrets</li></a>
                <a (click)="toggle()" routerLink="home"><li>Croyances</li></a>
                <a (click)="toggle()" routerLink="glossaire/lieux"><li>Lieux</li></a>
              </ul>
            </li>
  
            <a (click)="toggle()" routerLink="home"><li routerLink="home">News</li></a>
            <a (click)="toggle()" routerLink="home"><li routerLink="home">Studio</li></a>
          </ul>

      </div>
  }


