@use "../../../../import" as *;

.location_content {
    color: $textColor;
}

.background_image {
    background-image: url("../../../../assets/background_pictures/glossary_background.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 8%;
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    text-align: center;
    font-family: "Cinzel";
}

.worldmap {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

img {
    max-width : 60%;
    height : auto;
    border-radius: 10px;
}

