<div class="">
    <section class="world_map_container">
    <h1>Carte du monde</h1>
    <div class="world_map">
        <img src="../assets/pictures/WorldMap.svg" alt="WorldMap" usemap="#worldmap">
        <map name="worldmap">
            <area shape="circle" coords="130,60,30" alt="norta" (click)="onClickNorta()" (mouseenter)="onMouseEnterNorta()" (mouseleave)="onMouseLeaveNorta()">
            <area shape="circle" coords="200,65,20" alt="nelm" (click)="onClickNelm()" (mouseenter)="onMouseEnterNelm()" (mouseleave)="onMouseLeaveNelm()">
        </map>
    </div>
    <div class="show_continent_description">
        @if (norta == true) {
            <h2>Norta</h2>
            <p>Le continent de Norta est partagé en Trois Royaumes, représentés par une capitale, où réside un.e Roi / Reine.</p>
        }
        @if (nelm == true) {
            <h2>Nelm</h2>
            <p>Le continent de Nelm est partagé en Neuf Royaumes, huit d'entre eux sont représentés par une capitale, où réside un.e Roi / Reine.</p>
        }
    </div>
    <button>Valider</button>
</section>
</div>
