.character-selection-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background-image: url("/assets/background_pictures/rusty-morning-view-through-windows 1.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
  font-family: "Cinzel";
}

.selection-box {
  width: 60%;
  background-color: rgba(32, 34, 41, 0.8);
  margin-top: 10%;
  padding-top: 15%;
  padding-bottom: 15%;
  margin-left: 2%;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.add-character {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
}

.add-button {
  background-color: #d4a373;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #b58652;
}

h1 {
  color: white;
  font-family: "Cinzel";
  font-size: 30px;
}

.new-character-button {
  background-color: #d4a373;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-family: "Cinzel";
}

.new-character-button:hover {
  background-color: #b58652;
}

.character-slots-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  height: 80%;
  overflow-y: hidden;
  padding: 20px;
  position: relative;
}

.slots-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.character-slots {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.slot-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slot {
  width: 150px;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin: 10px 0;
  transition: border-color 0.3s;
}

.slot:hover {
  border-color: #d4a373;
}

.scroll-arrow {
  cursor: pointer;
  color: #d4a373;
  font-size: 24px;
}

#scroll-up {
  margin-bottom: 10px;
}

#scroll-down {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .character-selection-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
  }

  .selection-box {
    width: 90%;
    height: 50%;
    margin-top: -240px;
    box-sizing: border-box;
  }

  .character-slots-container {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    order: -1;
    padding: 0;
    margin-top: -170px;
  }

  .slots-wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    overflow-x: hidden;
    padding: 10px 0;
  }

  .character-slots {
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }

  .slot-column {
    flex-direction: row;
    gap: 10px;
  }

  .slot {
    width: 100px;
    height: 100px;
    margin: 5px;
  }

  .scroll-arrow {
    cursor: pointer;
    color: #d4a373;
    font-size: 24px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transform: rotate(0deg); /* Reset any rotation */
  }

  .scroll-arrow.up {
    transform: rotate(-90deg); /* Rotate to point left */
  }

  .scroll-arrow.down {
    transform: rotate(-90deg); /* Rotate to point right */
  }

  .add-character {
    top: 20px;
    left: 20px;
  }

  .add-button {
    width: 20px;
    height: 20px;
    font-size: 24px;
  }

  h1 {
    font-size: 14px;
  }

  .new-character-button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
  }
}
