<div class="character-selection-container">
    <div class="selection-box">
      <p>Emplacement libre, vous pouvez créer un nouveau personnage</p>
      <button class="new-character-button">Nouveau personnage</button>
    </div>
    <div class="character-slots-container">
      <div class="add-character">
        <button class="add-button">+</button>
        <span>Ajouter un personnage</span>
      </div>
      <div class="slots-wrapper">
      <div class="character-slots">
        <div class="slot-column">
          <div class="slot"></div>
          <div class="slot"></div>
          <div class="slot"></div>
          <div class="slot"></div>
          <div class="slot"></div>
        </div>
        <div class="slot-column">
          <div class="slot"></div>
          <div class="slot"></div>
          <div class="slot"></div>
          <div class="slot"></div>
          <div class="slot"></div>
        </div>
      </div>
      </div>
      <div class="scroll-arrow">▼</div>
    </div>
  </div>
  
  
  
  
  
  