<body>
    <div class="news-container">
        <div class="carousel">
            <app-carousel [slides]="slides"></app-carousel>
        </div>
    </div>

    <div class="news-content">
        <div class="news-item">
            <img src="assets/pictures/Image article.png" alt="News Image 1">
            <div class="news-text">
                <h2>News 1</h2>
                <p>Lorem ipsum dolor sit amet. Sit autem nemo in minus quas nam itaque minima sed dicta atque.</p>
            </div>
        </div>
        <div class="news-item">
            <img src="assets/pictures/Image article.png" alt="News Image 2">
            <div class="news-text">
                <h2>News 2</h2>
                <p>Lorem ipsum dolor sit amet. Sit autem nemo in minus quas nam itaque minima sed dicta atque.</p>
            </div>
        </div>
    </div>
</body>