<div class="background-image">
    <section>
        <h1>Ici commence votre histoire,</h1>
        <p> Expenssion est un jeu de rôle déroutant qui fera entrer vos joueur.euse.s dans l'histoire d'un plan médiéval-fantastique-steampunk rempli de mystères. <br>
            Ainsi, seul face au grand “MoJo” où avec quelques compagnons de route buveur.euse.s de servoise, lancez-vous à la poursuite de votre destin grandiose. <br>
            Car même si vous n'êtes ni vraiment beau, ni vraiment futé, c'est à vous qu'il incombe d'éradiquer le mal ou de l'amplifier ! <br>
            Le Grand ouvrage d'Expenssion est le livre où sont inscrites toutes les précisions de jeu d'Expenssion pour le.a Maître du Jeu (MJ) et ses joueur.euse.s. <br>
            On y trouve les différentes étapes de la création d'un personnage, l'ensemble des règles de base ainsi que des index pour faciliter vos parties. <br>
            Ce livre vous sera indispensable pour comprendre l'univers et les mécaniques de notre Jeu de rôle. <br>
            Toutefois, l'ensemble des règles et informations n'ont rien de figé, et peuvent être remaniées à l'appréciation du MJ et selon son imagination. <br>
            L'ensemble des Aventurier.e.s de BlopGameStudio <br>
            vous souhaite une bonne lecture et <br>
             Bon jeu.
            </p>
    </section>
</div>