<div class="background-image" id="introduction">
        <section id="intro">
        <h1 id="intro-title">Ici commence votre histoire,</h1>
        <p> Expenssion est un jeu de rôle déroutant qui fera entrer vos joueur.euse.s dans l'histoire d'un plan médiéval-fantastique-steampunk rempli de mystères. <br>
            Ainsi, seul face au grand “MoJo” où avec quelques compagnons de route buveur.euse.s de servoise, lancez-vous à la poursuite de votre destin grandiose. <br>
            Car même si vous n'êtes ni vraiment beau, ni vraiment futé, c'est à vous qu'il incombe d'éradiquer le mal ou de l'amplifier ! <br>
            Le Grand ouvrage d'Expenssion est le livre où sont inscrites toutes les précisions de jeu d'Expenssion pour le.a Maître du Jeu (MJ) et ses joueur.euse.s. <br>
            On y trouve les différentes étapes de la création d'un personnage, l'ensemble des règles de base ainsi que des index pour faciliter vos parties. <br>
            Ce livre vous sera indispensable pour comprendre l'univers et les mécaniques de notre Jeu de rôle. <br>
            Toutefois, l'ensemble des règles et informations n'ont rien de figé, et peuvent être remaniées à l'appréciation du MJ et selon son imagination. <br>
            </p>
            <p>L'ensemble des Aventurier.e.s de BlopGameStudio <br>
            vous souhaite une bonne lecture et <br>
            Bon jeu.
            </p>
    </section>
    <section id="preface">
        <h2>Préface</h2>
        <p>Si vous êtes en train de lire ceci, c'est que ma quête est arrivée à terme et que, par je ne sais quel miracle, j'ai vaincu. <br>
            Mais revenons à la genèse de tout cela, bien avant les interview par “Shuné-Magazine”, les partenariats avec les banques Naines et toutes autres récompenses inexistantes auxquelles j'ai eu droit. <br>
            Au centre du cyclone chronologique, il y avait un jeune homme, étudiant chez "Pôle emploi Bellecour Business school", inspiré d'art de littérature et de fantaisie. <br>
            Je résidais à l'époque dans une grotte “Jardin des Plantes” coincé entre une montagne pour artiste aisé et un marais pour manant de passage. <br>
            Afin de m'évader et ne pouvant garer mon Albatros putride dans le parking “Table claudienne” il devenait urgent que le voyage vienne d'un portail arcanique plutôt que de servoise abusive. <br>
            La formule que je me préparais à incanter nécessitait une histoire bouleversante et des auditeurs, eux-mêmes en quête d'aventures. <br>
            Durant cette soirée rien ne pu affecter mon moral défectueux, ni les avis de recouvrement de deniers, ni la solitude pesante d'un étudiant raté. <br>
            Ce soir-là j'étais une Magie libre ! <br>
            Je guidais mes compagnons dans un scénario dantesque, leur concoctais pièges et embuscades, je n'étais personne et pourtant je représentais chacun des personnages qu'ils rencontraient. <br>
            Ce n'était pas la première fois que ce rôle m'était attribué, j'avais déjà revêtu à de multiples reprises la robe du Maître du Jeu. <br>
            Mais cette fois c'était différent, et les embruns lumineux qui s'échappaient de cette table, allumèrent un flambeau. <br>
            Un brasier de milles brindilles et chacune nourrissait le feu de créativité qui s'était déclaré en moi. Deux jours plus tard, le portail était en place et c'est ainsi que téléporté dans un univers vide, je commençais à créer ce qui serait un Monde aux mille saveurs ! <br>
            Expenssion était alors devenu un horizon inatteignable, et je nageais les yeux fermés droit dans sa direction ! <br>
            Ce fut un voyage mouvementé, j'ai subi des vagues de dépression, des creux d'anxiété, les tempêtes de doute et autre désagrément maritime. Mais que sont ses moment face à la bienveillance des échoués que j'ai rencontré en ces flots.
            </p>
    </section>
    <section id="acknowledgement">
        <h2>Remerciements</h2>
        <p>À la mémoire de Florian, mon ami à jamais, ainsi qu'à celle de Ludovic, chevalier frappe-tonnerre de sa caste,
        père de la plus belle des Princesse, Époux de la plus forte Reine du royaume, Ami du plus reconnaissant des gobelins. </p>
        <p>Cet ouvrage est dédié à Thomas, qui m'a sorti d'une sombre période de ma vie tel une lumière de vie. </p>
        <p class="thanks">À tout ceux qui m'ont soutenu, <br>
            À mes parents, <br>
            À Laurent, un pilier a qui je dois énormément, <br>
            À Titou et Pitchou pour toujours, <br>
            À ma douce fleure Enora, À Julian,  <br>
            À mes frères et soeurs de développement, <br>
            Vince, Bob, Lucas, Dannou, Guillaume, Julian, Virginie, Napsta, Shuri, Matt, Loick...
            </p>
    </section>
    <section id="teaser">
        <img src="assets\pictures\sealing_wax.png" alt="sealing_wax">
        <h2>Expenssion-One, un monde d'aventure !</h2>
        <p class="teaser-text">« Quand la magie dirige le monde, <br>
            Les druides et les mages prospèrent, <br>
            Le monde évolue, les légendes sont contées, les épopées chantées. <br>
            </p>
            <p class="teaser-text">Là où les océans se divisent entre piraterie et Marine, <br>
            Les eaux du royaume fleurissent. <br>
            Les anciens vivent, les apothicaires s'enrichissent, <br>
            La magie se diversifie et les rites s'assombrissent. <br>
            </p><p class="teaser-text">
            Là où Trois Hommes sans scrupules prennent le contrôle, <br>
            Un monde s'effondre. <br>
            Au royaume des six, <br>
            Les astres resplendissent. <br>
            </p><p class="teaser-text-end">
            Votre vision est neuve, et le choix est votre, la paix ou le chaos. <br>
            Ainsi  de l'investissement de votre équipe,</p>
            <p class="teaser-text" id="reglesdujeu">Dépend votre réussite »
            </p>
    </section>
    <section>
        <h1 id="rules-title">Règles du jeu :</h1>
        <h2>0 - Introduction</h2>
        <p>Le manuel que vous avez sous les yeux n'en est pas un, c'est un grand ouvrage, celui d'Expenssion. <br>
            Afin de faciliter votre lecture, mon équipe de gobelins des collines et moi-même avons organisé cet ouvrage par thèmes. <br>
            L'ensemble sera enrobé d'un doux nappage de romance afin d'être accessible à toute personne qui ne serait pas statisticien en mathématique quantique avancée.</p>
                <h2>0.1 - Alors qu'est ce qu'un Jeu de Rôle ?</h2>
            <p>Le jeu de rôle est avant tout une expérience ludique, un jeu de société dans lequel vous incarnez un personnage, ancré dans un univers Réaliste ou Imaginaire évoluant au couvert de certaines règles de fonctionnement.</p>
                <h2>0.2 - Pourquoi jouer à ce type de jeu ?</h2>
            <p>C'est sans doute en quête d'aventure que beaucoup d'entre nous ont sombré dans la rolisterie, mais en y réfléchissant, que vient-on chercher en ces lieux, derrière cette vieille porte qui grince, au fond de ce couloir malodorant ou encore au bon milieu de cette taverne bruyante ?</p>
            <p>Et bien laissez moi vous proposer ici différentes réponses à cette question :</p>
            <p class="comment">“Une certaine liberté peut-être, celle de ne plus être soi mais une autre incarnation, partiellement différente ou en opposition totale qu'importe.”
            </p><p>Fab</p>
            <p class="comment">“Nous cherchons une histoire, une histoire palpitante pleine de rebondissements, que nous pourrons faire évoluer avec notre équipe, tous ensemble.”
            </p><p>Gobelin.e Inconnu.e</p>
            <p class="comment">“Quand j'étais gosse je rêvais de pouvoir discuter une dernière fois avec mon père, décédé prématurément au combat, et bien figurez vous qu'il m'arrive souvent de le croiser si et là au détour d'un campement militaire tenant une position dangereuse dans des montagnes périlleuses, alors merci le jeu de rôle pour ces réunion familiale et celle de mes amis”
            </p><p>Arnaud.P</p>
            <p class="comment">“Pour le plaisir, passer un bon moment avec des personnes qui finissent tôt ou tard par devenir des amis. Pour se sortir du quotidien et se mettre face à des situations qu'on ne peut pas rencontrer dans son quotidien. Car le jeu de rôle est le seul loisir où on est à la fois acteur, personnage, metteur en scène et scénariste.”
            </p><p>Gobelin.e Inconnu.e</p>
            <p class="comment">“Un moment de détente, de rigolade ou l'on peut s'évader en bonne compagnie. Prendre du bon temps avec de sombres inconnus encapuchonnés qui deviendront de réels amis.”
            </p><p>Grib</p>
            <p class="comment">“La découverte d'univers imaginaire, pouvoir s'évader dans des espaces infinis de verdure, et la seconde d'après être coincé dans un couloir étroit d'un vieux donjon.”
            </p><p>Gobelin.e Inconnu.e</p>
            <p class="comment">“Le jeu de rôle a été pour moi une porte ouverte vers plus de confiance en moi et m'aide au quotidien à affronter un monde bien plus hostile que les cavernes maudites de je ne sais quel village isolé!”
            </p><p>Ophélie</p>
            <p class="comment">“C'est avant tout un voyage avec d'autres qui mène à une même quête, un endroit où l'on est qui on veut mais surtout qui l'on est vraiment, un moyen de parler sans masque dans un grand carnaval de l'aventure.”
            </p><p>Deejay</p>
            <p class="comment">"Pour le plaisir de retrouver un endroit que l'on connaît. C'est un peu comme rentrer dans une maison de famille à noël. Avec des ami.e.s autour d'une table commune."
            </p><p>Gobelin.e Inconnu.e</p>
            <p class="comment">“La liberté de devenir qui l'on souhaite, parcourir un monde sans limite, construire son personnage, son histoire et en devenir son héros, marquer ce monde imaginaire de son empreinte, et de faire l'histoire d'un autre la sienne. Donner rendez-vous à ses amis et les découvrir sous un autre jour.”
            </p><p>Zai</p>
            <p class="comment">“Pour ma part, je joue pour laisser une place à l'imaginaire et au conte dans ma vie. Cela me permet de rester cartésien.ne et pragmatique au quotidien. Cela me permet aussi de travailler l'empathie et la compréhension de l'autre en vivant mille vies en une. Mais la raison principale reste le plaisir de raconter et de partager de belle histoire à plusieurs.”
            </p><p>Gobelin.e Inconnu.e</p>
            <p class="comment">“Pour se jouer de nous même, ou d'une personne qu'on ne sera jamais. Et bien rire avec nos ami.e.s quand même !”
            </p><p>Gobelin.e Inconnu.e</p> 
            <p class="example-title">Exemple :</p>
            <p class="example">Samedi soir, confinement, Andy est avec quelques un(e)s de ses ami(e)s et les serveurs de Overwash sont down. <br>
             Ils décident alors de faire un jeu de rôle qui saura occuper tout ce beau monde une soirée et leur faire partager un revers commun peuplé de mille rebondissements et d'un plaisir de jouer unis dans la même aventure. Iels s'orientent alors sur Expenssion, le dernier Jdr qu'Andy a acheté. Coïncidence, je ne pense pas…
            </p>
                <h2>0.3 - Quels sont les différents acteurs de notre Jeu de Rôle ?</h2>
            <h3>Le Maitre du jeu, Meneur de jeu ou Gobelin suprême :</h3>
            <p>Expenssion est un JdR qui se joue avec un.e Maître du Jeu, iel a pour mission de mettre en place le scénario qu'iel a sélectionné préalablement ou l'improvisation qu'iel tient à mettre en œuvre durant la partie. <br>
            Iel est le garant des règles, mais aussi de la répartition des actions à effectuer par les joueureuses. <br>
            Iel est un.e participant.e dévoué.e, un.e joueureuse qui incarne chaque personnages et lieux rencontrés, qu'il soit pacifique, passif ou agressif. <br>
            </p>
            <h3>Les Personnages joueureuses :</h3>
            <p>Dans ce JdR le nombre de joueureuses peut aller de un(e) joueureuses, a quatre ou cinq, voire plus. <br>
            Mais il est important de rappeler qu'un grand nombre de joueureuses peut être une grosse charge de travail pour le MJ. <br>
            Un trop grand nombre de participant.e.s peut nuire à l'immersion, au confort de jeu et à l'unité de votre groupe de jeu.
            </p>
            <p class="example-title">Exemple :</p>
            <p class="example">Ici notre table sera composée de trois joueureuses et d'un MJ, <br>
            Notre partie commence donc avec : <br>
            Audrey, joueuse amatrice, <br>
            Marc, joueuse confirmée, <br>
            Wolfgang, joueur débutant, <br>
            Et Andy, Maître du jeu pour la première fois.
            </p>
            <h3>Les Personnage non-joueureuses :</h3>
            <p>Dans la plupart des JdR certains personnages sont souvent joués par le MJ et ne sont pas “physiquement présents“ autour de la table, iels n'existent que dans l'univers proposé. Iels sont alors nommés Personnage non-joueureuses abrégés "PnJ". <br>
            On distingue ici deux types de Personnage non-joueureuses, les Pnj humanoïde et les monstres ou animaux qui peuplent l'univers dans lequel évolue les joueureuses.</p>
            <p>PnJ : Un.e PnJ est un personnage non joueureuses, iels peuvent être joué par le MJ ou par les joueureuse suivant la situation. Iels auront leurs points de vue, leur histoire et par extension leur cause à défendre. Iels peuvent être agressif.ves.</p>
            <p>Monstres : Un Monstre est une entité que le jeu va considérer de base comme agressive, elle est contre les joueureuse pour une raison ou une autre.</p>
            <p class="example-title">Exemple :</p>
            <p class="example">Dans notre partie d'exemple, Andy a décidé de faire commencer ces joueureuses dans le petit village de Nalos, il décide alors d'ajouter un “PnJ” du nom de Jean. Jean est un vieil homme, bossu, à l'air aigri. <br> 
            Il est sur le ponton qui sert de quai de déchargement et tient à faire payer les joueureuses pour leur entrée sur le territoire, Jean est décrit ici comme un pnj humanoïde. <br>
            Après avoir réglé ces quelques deniers, et avoir marché quelques heures, Andy leur décrit un sanglier putride aux allures verdâtre qui leur fonce dessus, l'animal est ici décrit comme un monstre agressif.</p>
                <h2>0.4 - Expenssion, un jeu physique et virtuel ?</h2>
            <p>Le système de jeu d'Expenssion est simple, il s'appuie essentiellement sur la communication entre les joueureuses et leur MJ face aux scénarios choisis.</p>
            <p>Les actions peuvent être validées à l'aide de Dé à vingt faces (nommé D20) et se rapporte aux caractéristiques de personnages joueureuses inscrits dans une Fiche Personnage. Il s'appuie également sur des Cartes de paysage, de ville ou de combat.</p>
            <p>Ces éléments matériels sont présents dans les annexes de cet ouvrage mais peuvent être créés sur de simples feuilles de papier ou par informatique par le biais de fichiers textes ou encore de tableurs.</p>
            <p>ll est alors assez aisé de jouer en physique autour d'une table ou en virtuel sur des logiciels tels que “Roll20.net” ou encore “Rollium.fr” qui offre une parfaite simulation de tables de jeux.</p>
            <p class="example-title">Exemple :</p>
            <p class="example">Pour sa partie, Andy choisit alors de jouer à Expenssion, de manière physique car ses ami(e)s sont confinés chez lui et iels sont donc tou(te)s autour d'une table. <br>
            Il s'empare alors de quelques D20, de fiches personnages imprimées à partir des annexes, de quelques cartes qu'il avait dessiné en cours de gestion économie, de crayons en tout genre et s'installe à la tablée avec un bon chocolat chaud. <br>
            Il choisit de s'appuyer ici sur le scénario “Descente aux enfers” proposé en annexe de cet ouvrage de règles.
            </p>
                <h2>0.5 - Comment jouer ?</h2>
            <p>Il est important en premier lieu de préciser que l'ensemble des règles décrites dans cet ouvrage sont des indications, des guides, et qu'à tout moment elles peuvent être dépassées ou réinventées.</p>
            <h3>Comment se déroule une partie ?</h3>
            <p>L'étape préliminaire consiste en une discussion entre lae MJ et lae joueureuse, afin que tous deux échangent sur certains points cruciaux et trop négligés. <br>
            Tout d'abord de quelle manière doivent-ils se nommer et se genrer, ces notions sont fondamentales au bon déroulement de l'aventure et surtout au respect de l'individu. <br>
            Suite à cela, il semble important que les deux parties discutent de leur niveau réciproque en ce qui concerne le JdR, de leurs attentes quant à celui-ci et de leur possible difficulté ou appréhension, afin de se rassurer mutuellement et d'avancer ensemble vers un mieux. <br>
            Tou.te.s les joueureuses ne cherchent pas forcément la même expérience. <br>
            Les notions de sensibilité émotionnelle, de phobie ou de rapport à la concentration doivent aussi impérativement être exposées afin que nul ne soit dans une situation désagréable à l'avenir. <br>
            Pour cela des méthodes de protection personnelle existent et il est important qu'elles soient mises en place avant même la partie. <br>
            En ce qui concerne les facteurs de concentration, il semble évident de marquer des pauses, de laisser ces joueureuses divaguer, et surtout d'être à l'écoute de leurs besoins ! <br>
            Toutes ces notions ne deviendront pas des problèmes en jeu et hors jeu, si l'on en a parlé au préalable. <br>
            Une discussion reste un partage d'informations et ne peut conduire qu'à de l'ouverture d'esprit.</p>
            <p>” Tout bénef “</p>
            <p>Une fois ces notions explorées et établies, il est temps de sauter dans un nouveau corps. <br>
            Lae Maître du jeu enclenche une présentation de son scénario, comportant les détails de jeu d'une partie unique ou d'une campagne lors d'une “session zéro”. <br>
            Iel exprime ici, les intentions de la partie ou campagne, avec ses objectif ou son point de départ afin de faire glisser les joueureuse dans l'univers proposé et de leur faire découvrir l'ambiance voulue. <br>
            Iels peuvent ainsi visualiser leurs futures sessions et choisir d'intégrer l'aventure ou non. <br>
            Au gré d'une aventure, chacun.e autour de la table va devoir jouer à tour de rôle et respecter les temps de parole de chacun.e et cela même lorsque ça implique une action commune. <br>
            Au cours de vos aventures, certaines situations pourraient être amenées à prendre la forme d'un combat. <br>
            C'est à vous, joueureuses, qu'il incombe de ne pas en venir à ces extrêmes. <br>
            Si vous optez pour le combat, c'est en toute conscience que vous le faites.
            </p>
                <h2>1 - Créer son personnage :</h2>
                <h2>1.1 - Fiche personnage :</h2>
            <p>Tout commence lorsque vous avez décidé d'entreprendre une aventure dans notre univers fantastique... <br>
            Se pose alors la question du personnage que vous allez incarner en ce monde?
            </p>
            <p>Car la liberté vous est donnée, ici, d'être qui vous voulez, telle une extension de vous-même dans un monde nouveau ! <br>
            Ainsi, vous pourrez très bien être un nain hargneux qui aurait revêtu sa plus belle robe pour pratiquer une magie obscure proche de la nécromancie ou opter pour une fée farceuse à l'armure solide et sublimée par une immense épée à deux mains.
            </p>
            <p>Et dans l'optique où vous ne sombreriez pas dès les premiers instants dans un piège tendu par votre Maître de Jeu particulièrement sadique, ce personnage vous suivra durant de multiples aventures.
            </p>
            <p>Certains voient d'ailleurs dans la création de leur personnage, une étape cruciale et plaisante qui sonne comme les prémices de fascinantes aventures. <br>
            Dans votre cas, elles seront pour sûr contées aux jeunes guerriers et chantées par les ignobles célébrités pour encore quelques milliers d'années.
            </p>
            <p>Ne prenez pas cette étape à la légère car elle sera le point de départ de vos aventures. <br>
            Commencez par vous emparer d'un crayon ainsi que de quoi l'effacer au besoin, d'une fiche de personnage auprès de votre Maître du jeu et de votre set de dés fétiche.
            </p>
            <p>Gardez à l'esprit que le MJ est chargé de créer ou de conter le monde dans lequel vous allez évoluer. Le bon déroulement de vos aventures passent par les indications du MJ. Veillez dans cette optique à ce qu'il soit présent lors des étapes de création, ou du moins qu'il vous ait guidé au préalable sur ce qu'il compte mettre en place.
            </p>
            <p>La première étape consiste à définir les secrets de votre personnage. Pour cela deux lancés de dés à 100 faces vous seront demandés. <br>
            Le premier de ces dés a pour but de révéler votre Secret Primordial, il représente une expérience passé qui influe sur l'histoire de votre personnage. <br>
            Le second jet de dés 100 faces a lui pour but de révéler votre Secret Anecdotique. Il représente une contrition de jeu et un élément de “role play”.
            </p>
            <p>A noter qu'une fois les deux jets de secret effectués, si l'un des deux jet ne convient pas, il est possible d'en relancer un des deux et de choisir parmi le jet initial et le nouveau jet.
            Pour cela RDV dans le glossaire, section Secrets.
            </p>
            <p class="example-title">Exemple :</p>
            <p class="example">Marc a fait un 55 à son jet de secret primordial et 28 à son secret anecdotique, iel note donc les détails de ses secret dans les emplacements prévus à cet effet dans sa fiche personnage.
            </p>
            <p class="example">55 - Vous êtes un membre important de la cour de Vinatatem, en tant que préleveur.euse d'impôts, les villages sous votre juridiction ne vous apprécient pas forcément. <br>
            28 - Vous êtes à l'origine de la pétition “Golf-Ball meurtres et blessures” vous cherchez à récolter 100 signatures.
            </p>
            <p class="example">Le secret primordial ne lui convenant pas, iel décide de relancer et les dés affiche le nombre 42 et note donc le dit secret. <br>
            42 - Vous êtes banni de Fortam pour exhibitionnisme lors de votre mariage. <br>
            Iel a à présent le choix entre son dé initial (55) et son nouveau dé (42). <br>
            Iel décide de conserver son option initiale.
            </p>
            <p>La seconde étape consiste à choisir quelle race vous allez incarner. Cette décision vient s'inscrire dans la personnalisation de l'image que vous avez de votre personnage. Il est bon de préciser ici qu'il est préférable pour votre bien être de choisir une race que vous affectionnez plutôt qu'un choix motivé par une optimisation des statistiques. <br>
            Pour cela RDV dans le glossaire, section Races.</p>
            <p class="example-title">Exemple :</p>
            <p class="example">Wolfgang choisit de jouer un Troll Difforme et inscrit alors sa race dans la case dédiée.
            </p>
            <p>L'étape suivante sera de faire les jets de dés qui correspondent à vos statistiques afin de pouvoir obtenir une présélection de classe parmi laquelle vous aurez le choix.</p>
            <p>Pour cela deux méthode vous sont proposées :</p>
            <h3>La Méthode Standard</h3>
            <p>Dans la méthode que nous appellerons “standard” les joueureuses font dix jets de dés vingt qui correspondent à leur Addiction, leur Charisme, leur Constitution, leur Dextérité, leur Force, leur Intelligence, leur Perception, leur Rapidité, leur Sagesse et leur Survie.</p>
            <p>Ces différentes statistiques sont les différents traits physiques et mentaux qui représentent votre personnage en ce monde. 
            Elles sont expliquées dans le glossaire, section Classes par des définitions simples.
            </p>
            <p>Chaque joueureuses démarre cette étape avec cinq points d'aventurier.
            Toute statistique inférieure ou égale à “5” entraînera l'ajout d'un “point d'aventurier”.
            </p>
            <p>Afin de créer un équilibrage global, on divisera toute statistique au supérieur ou égale à "18" par deux arrondies au supérieur. <br>
            A noter qu'un score de 20 sur un des jet entraîne une statistique réduite à 10 selon la règles précédente mais entraîne également l'ajout d'un “point d'aventurier”.
            </p>
            <p>Une fois toutes les statistiques notées face au différents intitulé, on laisse alors le joueur se répartir comme iel le souhaite ses points d'aventurier dans celle-ci.
            </p>
            <p>A noter qu'une statistique de “1” entraîne un handicap permanent donné par le MJ.
            </p>
            <p class="example-title">Exemple :</p>
            <p class="example">Ici c'est Marc, notre joueuse confirmée, qui fait ses tirages en première, elle fait alors les scores suivant :
            </p>
            <p class="example">Addiction : 6 <br>
            Charisme : 9 <br>
            Constitution : 15 <br>
            Dextérité : 3 <br>
            Force : 19 <br>
            Intelligence : 10 <br>
            Perception : 9 <br>
            Rapidité : 6 <br>
            Sagesse : 3 <br>
            Survie : 1 
            </p>
            <p class="example">Sa statistique de Force sera donc divisée par deux et affichera un score de Force de 9.5 donc de 10. <br>
            Suite à cela, elle ajoute ces cinq points selon ses désirs.
            Sachant qu'un “1” dans une statistique sera accompagné d'un handicap permanent, elle choisit de faire les ajouts suivant :
            </p>
            <p class="example">Addiction : 6 <br>
            Charisme : 9 <br>
            Constitution : 15 <br>
            Dextérité : 3 (+1) <br>
            Force : 10 (+2) <br>
            Intelligence : 10 <br>
            Perception : 9 <br>
            Rapidité : 6 <br>
            Sagesse : 3 <br>
            Survie : 1 (+2)
            </p>
            <p class="example">Elle choisit ici de booster sa survie de +2 pour arriver à un résultat de 3, puis elle ajoute +1 en dextérité ainsi que +2 en force. <br>
            Ses statistiques actuelles sont donc les suivantes :
            </p>
            <p class="example">Addiction : 6 <br>
            Charisme : 9 <br>
            Constitution : 15 <br>
            Dextérité : 4 <br>
            Force : 12 <br>
            Intelligence : 10 <br>
            Perception : 9 <br>
            Rapidité : 6 <br>
            Sagesse : 3 <br>
            Survie : 3
            </p>
            <p class="example">À présent Andy, Maître du jeu, peut alors consulter le tableau de classe (page …) et offrir différents choix à Marc, en fonction de ses deux meilleures statistiques ou de sa plus mauvaise, elle devra choisir à partir de cette sélection quelle classe elle souhaite jouer.
            </p>
            <p>Une fois les statistiques établies, le MJ propose alors au joueureuses de choisir parmi les quelques classes qui correspondent à leurs statistiques. <br>
            En cas d'égalité entre deux statistiques qui pourraient être une des plus haute ou la basse, lae joueureuse choisie celle qu'iel souhaite approfondir.
            </p>
            <p class="example-title">Exemple :</p>
            <p class="example">Andy partage avec Marc les informations de classes, précisées dans la page Classes du glossaire.
            </p>
            <h3>La Méthode Medium</h3>
            <p>Dans la méthode que nous appellerons “medium” les joueureuses font dix jets de dés vingt, notent chaque résultat sur un support, et les placent selon leurs choix en face des statistiques qu'iels souhaitent.
            Ainsi iels complètent leur Addiction, leur Charisme, leur Constitution, leur Dextérité, leur Force, leur Intelligence, leur Perception, leur Rapidité, leur Sagesse et leur Survie.</p>
            <p>Afin de créer un équilibrage global, on divisera toute statistique supérieure ou égale à "18" par deux arrondis au supérieur.
            </p>
            <p>Une fois toutes les statistiques notées face au différents intitulés, aucun point n'est à ajouter avec cette méthode.
            </p>
            <p>A noter qu'une statistique de “1” entraîne un handicap permanent donné par le MJ.
            </p>
            <p class="example-title">Exemple :</p>
            <p class="example">Audrey, joueuse amatrice participe à une partie où la méthode de statistique est la méthode Médium, elle fait alors les scores suivants :
            </p>
            <p class="example">9, 15, 8, 12, 12, 7, 2, 8, 15, 1
            </p>
            <p class="example">Elle choisit donc la répartition suivante :
            </p>
            <p class="example">Addiction : 1 <br>
            Charisme : 15 <br>
            Constitution : 8 <br>
            Dextérité : 9 <br>
            Force : 2 <br>
            Intelligence : 15 <br>
            Perception : 12 <br>
            Rapidité : 7 <br>
            Sagesse : 12 <br>
            Survie : 8
            </p>
            <p class="example">À présent Andy, Maître du jeu, peut alors consulter le tableau de classes (page …) et offrir différents choix à Audrey, en fonction de ses deux meilleures statistiques ou de sa plus mauvaise, elle devra choisir à partir de cette sélection quelle classe elle souhaite jouer.
            </p>
            <p class="example">Sachant qu'un “1” dans une statistique sera accompagné d'un handicap permanent, c'est son addiction ici qui fera face à une pénalité du MJ.
            </p>
            <p class="example" id="endline">À présent Andy, Maître du jeu, considère les statistiques comme appliquées et passe à l'étape suivante.
            </p>
    </section>
</div>