@use "../../../import" as *;

p
{
  margin-top:2%;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  font-family:$contentFont;
}

li {
  margin-left: 5%;
  margin-right:20%;
  font-family:$subTitleFont;
}

.background-image
{
  background-image: url(../../../assets/background_pictures/FondSecrets.jpeg);
  color:black;
  padding-bottom: 5%;
}

h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  margin-top:5%;
  margin-bottom:5%;
  font-family:$subTitleFont;
}

