<section class="background-image">
    <div class="row-1">
        <div class="user-resume-container">
            <h2>Profil</h2>
            <div class="profil-picture"><img [src]="user?.profilPictureUrl"></div>
            <div class="user-info-container">
                <button class="parameters-button"><img src="/assets/pictures/parameters.png"></button>
                <p>Pseudo: {{user?.pseudo}}</p>
                <p>Biographie: {{user?.biography}}</p>
            </div>
    
        </div>
        <div class="characters-container">
            <div class="character-top-container"><h2>Personnages</h2>
            <button class="add-character-button"><img (click)="addCharacter()" src="/assets/pictures/add-button.svg"></button>
            </div>
            <div class="list-character-container">
                <div class="grid-character-container">
                    @for(character of user?.characters ;track character){
                    <img [src]="character.specialization.url">
                    }
                </div>
            </div>
            
           
        </div>
    </div>
    <div class="row-2">
        <div class="calendar">
            <h2>Calendrier</h2>

        </div>
        <div class="friends-container">
            <h2>Amis</h2>
            @for(friend of user?.friends;track friend){
                <img [src]="friend.profilPictureUrl">
            }
        </div>
    </div>
    
</section>
