@use "../../../import" as *;

.flexRow {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 110px);
    font-size:12px;
    width:50vw;
    li {
        margin:2% 0 2% 0;
    }
}

.titleStat
{
    font-size:15px;
}

.addiction {
    grid-row: 1;
    grid-column: 1;
}

.charism {
    grid-row:1;
    grid-column:2;
}

.constitution {
    grid-row:1;
    grid-column:3;
}

.dexterity {
    grid-row:1;
    grid-column:4;
}

.strength {
    grid-row:1;
    grid-column:5;
}

.intelligence {
    grid-row:2;
    grid-column:1;
}

.perception {
    grid-row:2;
    grid-column:2;
}

.speed {
    grid-row:2;
    grid-column:3;
}

.wisdom {
    grid-row:2;
    grid-column:4;
}

.survival {
    grid-row:2;
    grid-column:5;
}

.circle{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color:#DDB375;
    color:$textColor;
    display:flex;
    justify-content:center;
}

.reset-button img{
    height: 40px;
    width: 40px;
    margin-bottom:2%;
}



.background-image
{
  background-image: url(../../../assets/background_pictures/backgorund_stat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.content-page
{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:0 0 7% 0;
}

.statPage{
    background-color: #202229;
    filter: opacity(90%);
    margin: 160px 20% 2rem 8%;
    border-radius: 10px;
    color: $textLightColor;
    text-align: center;
    padding: 1rem 1rem 2rem 1rem;
    width: 200vw;
}

.statScore {
    width:70px;
    margin-top:2%;
}

.plus{
    padding:1px 0 0 0;
}

.hiddenButton
{
    visibility:hidden;
}

.statName {
    width:150px;
    margin:2% 0 0 0;
}

.displayValidationButton{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:2rem 0 0 0;
}

.pStat {
    margin:0 0 6% 0;
}

.content
{
    font-size: 20px;
}


.selectStats {
    background-color: #202229;
    filter: opacity(90%);
    margin:160px 0 6% 8%;
    border-radius: 10px;
    color: $textLightColor;
    text-align: center;
    padding: 1rem 1rem 2rem 1rem;
    width: 25vw;
}

p {
    margin:2% 0 2% 0;
}


  @media screen and (max-width: 768px) {
    .selectStats {
        margin:100px 5vw 0 5vw;
        width: 90vw;
    }
    .content-page{
        align-items:center;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .statPage {
        width: 90vw;
        margin:5vw 0 5vw 0;
    }
    .flexRow {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 120px);
        margin:0 0 0 20%;
    }

    .addiction {
        grid-row: 1;
        grid-column: 1;
    }
    
    .charism {
        grid-row:1;
        grid-column:2;
    }
    
    .constitution {
        grid-row:2;
        grid-column:1;
    }
    
    .dexterity {
        grid-row:2;
        grid-column:2;
    }
    
    .strength {
        grid-row:3;
        grid-column:1;
    }
    
    .intelligence {
        grid-row:3;
        grid-column:2;
    }
    
    .perception {
        grid-row:4;
        grid-column:1;
    }
    
    .speed {
        grid-row:4;
        grid-column:2;
    }
    
    .wisdom {
        grid-row:5;
        grid-column:1;
    }
    
    .survival {
        grid-row:5;
        grid-column:2;
    }
}

.modifying
{
    width:1500px;
    height:700px;
    background-color:#202229;
    margin:7% 0 12% 6%;
    border-radius: 10px;
    color:$textLightColor;
    font-size:20px;
}

.validationButton
{
    justify-content: center;
    align-items:center;
    text-align: center;
    background-color: #DDB375;
    color:$textColor;
    border-radius: 5px;
    width:70px;
    height:30px;
}

h1{
    font-size:25px;
    font-family:$subTitleFont;
}

h2{
    font-size:20px;
    color: $textLightColor;
    text-align:center;
    font-family:$subTitleFont;
}

.title
{
    color:$textLightColor;
    text-align: center;
    padding:0 0 7% 0;
}

h2
{
    margin:5% 0 5% 0;
}

.modifyTitle
{
    text-align: center;
    margin: 2% 0 0 0;
}

.stat{
    display:flex;
    flex-direction:row;
    color:$textLightColor;
    height: 40px;
    justify-content:space-between;
}
button
{
    margin-top:0%;
}

