@use "../../../import" as *;

.flexRow {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 150px);
    li {
        margin-top:2%;
        margin-bottom:2%;
    }
}

.addiction {
    grid-row: 1;
    grid-column: 1;
}

.charism {
    grid-row:1;
    grid-column:2;
}

.constitution {
    grid-row:1;
    grid-column:3;
}


.circle{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color:#DDB375;
    color: black;
    display:flex;
    // align-items: center;
    justify-content:center;
}

.reset-button img{
    height: 40px;
    width: 40px;
    margin-bottom:2%;
}



.background-image
{
  background-image: url(../../../assets/background_pictures/backgorund_stat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.content-page
{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom:7%;
}

.statPage{
    background-color: #202229;
    filter: opacity(90%);
    margin: $globalPaddingTop 0 2rem 0;
    border-radius: 10px;
    color: $textLightColor;
    margin-right: 20%;
    margin-left: 8%;
    text-align: center;
    padding: 1rem;
    width: 50vw;
    padding-bottom: 2rem;
}

.statScore {
    //margin-left:20px;
    width:70px;
}

.statName {
    width:150px;
}

.displayValidationButton{
    display:flex;
    align-items:center;
    justify-content:center;
}

.content
{
    font-size: 20px;
}

.selectStats {
    background-color: #202229;
    filter: opacity(90%);
    margin-top: $globalPaddingTop;
    margin-bottom: 2rem;
    border-radius: 10px;
    color: $textLightColor;
    margin-left: 8%;
    text-align: center;
    padding: 1rem;
    padding-bottom: 2rem;
    width: 25vw;
    
}

p {
    margin-top:2%;
    margin-bottom:2%;
}


  @media screen and (max-width: 768px) {
    .selectStats {
        margin-top: 100px;
        width: 90vw;
        margin-right: 5vw;
        margin-left: 5vw;
    }
    .content-page{
        align-items:center;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .statPage {
        width: 90vw;
        margin-right: 5vw;
        margin-left: 5vw;
    }
}

.modifying
{
    width:1500px;
    height:700px;
    background-color:#202229;
    margin-top: 7%;
    margin-bottom:12%;
    margin-left:6%;
    border-radius: 10px;
    color:white;
    font-size:20px;
}

.validationButton
{
    justify-content: center;
    align-items:center;
    text-align: center;
    background-color: #DDB375;
    color:black;
    border-radius: 5px;
    width:70px;
    height:30px;
}

h1{
    font-size:25px;
}

h2{
    font-size:20px;
    color: white;
    text-align:center;
}

.title
{
    color:white;
    text-align: center;
    margin-top : 5%
}

h2
{
    margin-top:5%;
    margin-bottom:5%;
}

.modifyTitle
{
    text-align: center;
    margin-top : 2%;
}

.modifyScore
{
    text-align: center;
    margin-top : 2%;
}

.stat{
    display:flex;
    flex-direction:row;
    color:white;
    height: 40px;
}
button
{
    margin-top:0%;
}

// .displayCaracteristics
// {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
// }
