
.buttonHeader{
  height:125px;
}

.buttonDispose{
  margin-left:80%;margin-top:5%;
}

.buttonContent{
  width:50px;height:50px;
}

.container {
    background: url('../../../assets/background_pictures/connexion_responsive.jpeg');
    min-height: 600px;
    width: 60vh;
    height: 100%;
    min-width: 350px;
  }
  .containerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .formatText
  {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 10px;
    color: #000000;
    align-items: center;
    justify-content: center;
  }

  .connect {
    margin-top:5%;
  }
  
  .forgot-password {
    text-decoration-line: underline;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 10px;
    color: #000000;
    margin-top:5px;
  }
  .inputLogin{
    justify-content: center;
    height: 30px;
    width: 80%;
    border-radius: 50px;
    background-color: white;
  }
  .connectButton{
    margin-top: 5%;
    height: 30px;
    width: 80%;
    border-radius: 50px;
    background-color:black;
    color: white;
  }

  .registerButton{
    margin-top: 5%;
    height: 30px;
    width: 80%;
    border-radius: 50px;
    background-color:#625B5B;
    color: white;
  }
  
  .logo {
    .logo-content {
      height: 75px;
      width:75px;
    }
  }

  @media screen and (max-width: 768px) {
    .container{
      min-width: none;
      min-height: none;
      width: 100%;
      height: 100%;
    }
  }


  




  


  