<button  class="btn btn-primary"(click)="onClose()">X</button>
<form>
    <div class="container">
      <div class="buttonHeader">
          <button class="buttonDispose" (click)="onClose()"><img class="buttonContent" src="assets/pictures/CloseButton.png"></button>
      </div>

      <div class="containerFlex">
        <div class="connect">
            SE CONNECTER
        </div>

        <div class="logo">
            <img class="logo-content" src="assets/pictures/Blop.png" alt="Logo">
        </div>

        <div>
          <label for="login" class="formatText">
              Identifiant :
          </label>
        </div>

        <div class="inputLogin">
          <input id="login" name="login" type="text"  [(ngModel)] = "login.login" [ngModelOptions]="{standalone: true}"/>
        </div>

        <div>
          <label for="password" class="formatText">
              Mot de passe :
          </label>
        </div>

        <div class="inputLogin">
          <input id="password" name="password" type="text"  [(ngModel)] = "login.password" [ngModelOptions]="{standalone: true}"/>
        </div>

        <div class="forgot-password">
            Mot de passe oublié ?
        </div>
        

        <button (click)="onLogin(login.login,login.password)" class = "connectButton">Connexion</button>
        <button class = "registerButton" (click)="onClose()" routerLink="inscription">Inscription</button>

      </div>

    </div>
</form>
