<form class="inscription-form">
    <h1>INSCRIPTION</h1>

    <label for="nom">Nom *</label>
    <input id="nom" formControlName="nom" type="text">

    <label for="prenom">Prénom *</label>
    <input id="prenom" formControlName="prenom" type="text">

    <label for="dateDeNaissance">Date de naissance *</label>
    <input id="dateDeNaissance" formControlName="dateDeNaissance" type="date">

    <label for="pseudo">Pseudo *</label>
    <input id="pseudo" formControlName="pseudo" type="text">

    <label for="adresseMail">Adresse mail *</label>
    <input id="adresseMail" formControlName="adresseMail" type="email">

    <label for="confirmationAdresseMail">Confirmation adresse mail *</label>
    <input id="confirmationAdresseMail" formControlName="confirmationAdresseMail" type="email">

    <label for="motDePasse">Mot de passe * (8 caractères min, num, maj, spé)</label>
    <input id="motDePasse" formControlName="motDePasse" type="password">

    <label for="confirmationMotDePasse">Confirmation du mot de passe *</label>
    <input id="confirmationMotDePasse" formControlName="confirmationMotDePasse" type="password">

    <label for="cgu">
        <input id="cgu" formControlName="cgu" type="checkbox">
        CGU
    </label>

    <button type="submit">S'INSCRIRE</button>
</form>