body {
    background-image: url(/assets/background_pictures/register.jpg);
}

.inscription-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    color: white;
}

.inscription-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.inscription-form label {
    margin-top: 10px;
}

.inscription-form input[type="text"],
.inscription-form input[type="date"],
.inscription-form input[type="email"],
.inscription-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    background-color: white;
    border-radius: 5px;
}

.inscription-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #3b1c07;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.inscription-form button:disabled {
    background-color: #a07c58;
}