@use "../../../import" as *;

.background-image {
  background-image: url("../../../assets/background_pictures/race-choice.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: calc(100vh - $headerHeight);
  color: $textLightColor;
  font-family: $contentFont;
  font-size: 1.5rem;
  padding-top: $globalPaddingTop;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .carousel-container {
      max-width: 1600px;
      display: flex;
      align-items: center;
      justify-content: center;
      .carousel {
        width: 100%;
        display: flex;
        overflow: hidden;
        .card-breed-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          flex: 1;
          margin: 10px;
          border: $borderCardBreed;
          border-radius: $borderRadius;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          background-color: #c2c8bc99;

          transform-origin: center center;
          transition: transform 0.5s, opacity 0.5s;

          .picture-stat-container {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 2rem 2rem;
            .picture {
              width: 55%;
            }
            .breed-statistics {
              list-style-type: none;
              padding: 0;
            }
          }

          .picture-stat-container img {
            height: auto;
            max-width: 100%;
            border-radius: $borderRadius;
          }
        }
        .breed-title {
          font-family: $subTitleFont;
          font-weight: $fontBoldStyle;
          color: $textColor;
          margin-top: 2rem;
        }
      }
    }
  }
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.nav-button {
  background-color: #4ba0c0; /* Primary button color */
  border: none;
  color: $textLightColor;
  font-family: $subTitleFont;
  font-weight: $fontBoldStyle;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-button:hover {
  background-color: #e3ac96; /* Darker shade for hover effect */
  transform: scale(1.05); /* Slightly enlarge the button */
}

.bold-title {
  font-weight: bold;
}

.racial_trait {
  margin-top: 10px;
  font-size: 1.2rem;
}

.breed-description {
  margin: 10px;
  text-align: center;
  font-size: 1.2rem;
  padding: 0 4rem;
}
