@use "../../../import" as *;
.background-image {
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-height: calc(100vh - $headerHeight);
    color: white;
    font-family: "Inika";
    font-size: 1.5rem;
    padding-top: $globalPaddingTop;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
;
}

.carousel-container {
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button {
  background-color: #007bff; /* Primary button color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
  transform: scale(1.05); /* Slightly enlarge the button */
}

.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.carousel {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.card-breed-container {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0.5;
    transform-origin: center center;
}

.card-breed-container.center {
    opacity: 1;
    transform: scale(1.1);
}

.picture-stat-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture-stat-container img {
    height: auto;
    max-width: 100%;
}

.breed-statistics {
    list-style-type: none;
    padding: 0;
}

.bold-title {
    font-weight: bold;
}

.racial_trait {
    margin-top: 10px;
}

.breed-description {
    margin-top: 10px;
    text-align: center;
}