.register-container{
    background-image: url(/assets/background_pictures/register.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding-top: 160px;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding-top: 6%;
    padding: 20px;
    color: white;
    position: relative;
}

.register-form h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
    font-family: 'Cinzel', cursive;
    color: white;
}

.register-form label {
    margin-top: 10px;
}

.register-form input[type="text"],
.register-form input[type="date"],
.register-form input[type="email"],
.register-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    background-color: #DDB375;
    border-radius: 5px;
}

#toggle-cgu {
    display: none;
}

.cgu-container {
    position: relative;
    width: 130%;
    align-self: center;
    text-align: center;
    margin-top: 20px;
}

.cgu-button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #DDB375;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    transition: height 0.3s;
}

.cgu-title {
    font-weight: bold;
}

.cgu-button .cgu-content {
    display: none;
    max-height: 0;
    overflow-y: scroll;
    padding: 10px;
    background-color: #DDB375;
    color: white;
    box-sizing: border-box;
    transition: max-height 0.3s;
    text-align: left;
    line-height: 1.5;
}

#toggle-cgu:checked+.cgu-button {
    height: auto;
}

#toggle-cgu:checked+.cgu-button .cgu-title {
    display: none;
}

#toggle-cgu:checked+.cgu-button .cgu-content {
    display: block;
    max-height: 200px;
}

#register-button {
    margin-top: 20px;
    padding: 10px;
    width: 50%;
    background-color: #3b1c07;
    font-family: 'Cinzel', cursive;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
}

.register-form button:disabled {
    background-color: #a07c58;
}

@media (max-width: 480px) {
    .register-form {
        width: 100%;
        padding: 10px;
    }

    .register-form h1 {
        font-size: 20px;
    }

    .register-form button {
        font-size: 12px;
        padding: 8px;
    }

    #CGU {
        display: none;
    }
}