<div class="background-image">
    <div class="parameters-container">
        <div class="top-parameters-container">
             <img class="parameters-logo" src="/assets/pictures/parameters.png">
            <h1>Paramètres</h1>
        </div>

        

        <div class="profil-parameters-container">
            <div class="profil-picture-container">
                <h2>Avatar de profil</h2>
                <div class="profil-picture">
                    <div class="avatar">
                        <img src="/assets/pictures/Connexion.png">
                    </div>
                    <button>changer d'Avatar</button>
                </div>
            </div>

            <div class="pseudo-display-container">

                <form #myForm="ngForm" (ngSubmit)="updateDisplayPseudo(user.pseudoDisplay)">
                
                
                    <fieldset>
                
                        <label for="firstname-field">Pseudo affiché: </label>
                        <div>
                            <input id="firstname-field" name="firstname" type="text" [(ngModel)]="user.pseudoDisplay" #pseudo="ngModel" required
                                minlength="3" maxlength="15">
                            <small>Entrez votre pseudo qui sera affiché en jeu.</small>
                        </div>

                        
                    </fieldset>
                    <div class="button-container">
                        <button type="submit">Sauvegarder</button>
                    </div>
                </form>
                
              


            </div>
            <div class="biography-container">
                <form #myForm="ngForm" (ngSubmit)="updateBiography(user.biography)">
                
                
                    <fieldset>
                
                        <label for="biography-field">Biographie: </label>
                        <div>
                            <textarea id="biography-field" name="biography" rows="5" maxlength="500" [(ngModel)]="user.biography"
                                #biography="ngModel"></textarea>
                            <small>Description de votre profil en moins de 300 caractères</small>

                        </div>
                    </fieldset>
                    <div class="button-container">
                    <button type="submit">Sauvegarder</button>
                    </div>
                </form>

            </div>
            <div class="personnal-information-container">
                <form #myForm="ngForm" (ngSubmit)="updatePersonalData(user.firstname,user.lastname,user.email,user.dateOfBirth)">

                   
                    <fieldset>
                    
                        <label for="firstname-field">nom: </label>
                    
                        <input id="firstname-field" name="firstname" type="text" [(ngModel)]="user.firstname" #firstname="ngModel"
                            required minlength="3" maxlength="15">
                    
                    </fieldset>

                    <fieldset>
                    
                        <label for="lastname-field">Prénom: </label>
                    
                        <input id="lastname-field" name="lastname" type="text" [(ngModel)]="user.lastname" #lastname="ngModel"
                            required minlength="3" maxlength="15">
                    
                    </fieldset>

                    <fieldset>
                    
                        <label for="date-of-birth-field">Date de naissance: </label>
                    
                        <input id="date-of-birth-field" name="DateOfBirth" type="date" [(ngModel)]="user.dateOfBirth" #DateOfBirth="ngModel"
                            required minlength="3" maxlength="15">
                    
                    </fieldset>
                   
                    <fieldset>
                
                        <label for="email-field">email: </label>
                
                        <input id="email-field" name="email" [(ngModel)]="user.email" #email="ngModel" type="email" required
                            email>
                
                    </fieldset>                
                    <div class="button-container">
                        <button type="submit">Sauvegarder</button>
                       </div>
                </form>

            </div>
            <div class="change-password-container">              
                <form #myForm="ngForm" (ngSubmit)="changePassword(actualPassword.value, newPassword.value)">
                    <fieldset>
                        <label for="actual-password-field">Mot de passe actuel: </label>
                        <div>
                            <input id="actual-password-field" name="actualPassword" type="password"  #actualPassword>
                        </div>
                    </fieldset>
                    <fieldset>
                        <label for="new-password-field">Nouveau mot de passe: </label>
                        <div>
                            <input id="new-password-field" name="newPassword" type="password"  #newPassword>
                        </div>
                    </fieldset>
                    <fieldset>
                        <label for="actual-password-field">Confirmation de mot de passe: </label>
                        <div>
                            <input id="actual-password-field" name="confirmationNewPassword" type="password" #confirmationActualPassword>
                        </div>
                    </fieldset>
                    <div class="button-container">
                        <button type="submit">Changer de mot de passe</button>
                    </div>
                    
                </form>

            </div>

            <div class="notification-container">
                <form #myForm="ngForm" (ngSubmit)="updatepamarater(user.isPublic,user.isNewletters)">
                    <fieldset>
                        <label for="actual-password-field">Paramètres notifdications: </label>
                        <div>
                            <mat-slide-toggle name="isNewsletters" [(ngModel)]="user.isNewletters"></mat-slide-toggle>
                        </div>
                    </fieldset>
                    <fieldset>
                        <label for="actual-password-field">Paramètres de visibilité: </label>
                        <div>
                            <mat-slide-toggle  name="isPublic" [(ngModel)]="user.isPublic"></mat-slide-toggle>
                        </div>
                    </fieldset>
                    <div class="button-container">
                        <button type="submit">Sauvegarder</button>
                    </div>
                </form>
                                
                
                
                
            </div>

            <div class="delete-account-container">
                <button (click)="isDelete=true">Supprimer mon compte</button>
                @if(isDelete){
                <div class="delete-account-confirmation-container">
                    <form #myForm="ngForm" (ngSubmit)="deleteUser(actualPassword.value)">
                        <fieldset>
                            <label for="actual-password-field">Mot de passe actuel: </label>
                            <div>
                                <input id="actual-password-field" name="actualPassword" type="password" #actualPassword>
                            </div>
                        </fieldset>
                        <div class="button-container">
                            <button type="submit">Confirmer la suppression</button>
                        </div>
                    </form>
                </div>
                }

            </div>
           
        </div>

    </div>

</div>
