@use "../../../import" as *;

.background-image {
    background-image: url("/assets/background_pictures/user_profil_background.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: calc(100vh - $footerHeight);
    padding-top: $globalPaddingTop;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
        font-family: 'Inika';

    button {
            background-color: #303133;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s;
    
            &:hover {
                background-color: #0056b3;
                transform: scale(1.05);
            }
    
            &:active {
                background-color: #004494;
                transform: scale(1);
            }
    
            &:focus {
                outline: none;
                box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
            }
        }
   


    .parameters-container {
        margin-left: 5%;
        margin-right: 5%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        .top-parameters-container {
            display: flex;
            align-items: center;
            .parameters-logo {
                height: 100px;
                img {
                    width: 15%;
                }
            }
            h1 {
                margin-left: 20px;
                color: #fff;
                font-size: 24px;
            }
        }

        .profil-parameters-container {
            .profil-picture-container {
                display: flex;
                flex-direction: column;
                margin: 20px 2.5%;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 10px;
                padding: 20px;
                color: #fff;
                .profil-picture{
                    display: flex;
                    gap:50px;
                    align-items: center;
                    .avatar{    
                        img {
                            border-radius: 50%;
                            width: 150px;
                            height: 150px;
                            object-fit: cover;
                        }
                    }
                   
                }
            }

            .biography-container,
            .personnal-information-container,
            .pseudo-display-container,
            .change-password-container,
            .notification-container,
            .visibility-profil-container,
            .delete-account-container {
                margin: 20px 2.5%;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 10px;
                padding: 20px;
                color: #fff;
                display: flex;
                flex-direction: column;

                form {
                    display: flex;
                    flex-direction: column;

                    fieldset {
                        border: none;
                        margin-bottom: 15px;
                        align-items: center;
                        display: grid;
                        grid-template-columns: 1fr 5fr;
                        gap:50px;

                        label {
                            grid-column-start: 1;
                            grid-column-end: 1;
                            margin-bottom: 5px;
                            font-weight: bold;
                            margin-right: 50px;
                        }

                        input,
                        textarea {
                            grid-column-start: 2;
                            grid-column-end: 2;
                            width: 100%;
                            padding: 10px;
                            border-radius: 5px;
                            color: black;
                            border: 1px solid #ccc;
                            background-color: #fff;
                            font-size: 16px;
                        }

                        input[type="submit"] {
                            background-color: #4CAF50;
                            color: white;
                            border: none;
                            cursor: pointer;
                            padding: 10px 20px;
                            font-size: 18px;
                            transition: background-color 0.3s ease;
                        }

                        input[type="submit"]:hover {
                            background-color: #45a049;
                        }
                    }
                }
                .button-container{
                    display: flex;
                    justify-content: right;
                }



            }

            .change-password-container,
            .notification-container,
            .visibility-profil-container
            {
                display: flex;
                flex-direction: column;
            }
            .delete-account-container {
               display:flex;
               justify-content: center;
               align-items: center;
               button{
                margin-bottom: 20px;
                background-color: red;

               }
            }
        }
    }
      
}

 @media screen and (max-width: 1200px) {
fieldset{
    display: block !important;
   }
 }
