<div class="background_image">
    <section class="location_container">
        <div class="birth_place">
            <h2>Lieu d'origine</h2>
            <p>Choisissez votre lieu d'origine</p>
        </div>
        <div class="living_place">
            <h2>Lieu de résidence</h2>
            <p>Choisissez votre lieu de résidence</p>
        </div>
            <button (click)="goBack()">Retour</button>
    </section>
    @if(isMobile){
        <app-world-map-mobile></app-world-map-mobile>
        }
        @if (selectNorta()) {}
        @else{
        <app-world-map></app-world-map>
        }
    
</div>
