<div class="background_image">
    <section class="location_container">
        <div class="birth_place">
            <h2>Lieu d'origine</h2>
            <p>Choisissez votre lieu d'origine</p>
        </div>
        <div class="living_place">
            <h2>Lieu de résidence</h2>
            <p>Choisissez votre lieu de résidence</p>
        </div>
            <button (click)="goBack()">Retour</button>
    </section>

    <div>

        @if(!isNortaDisplay){
            <app-world-map (sendNortaIsDisplayToParent)="onReceiveIsNortaDisplay($event)"></app-world-map>

           
        }    
        @else{
            <app-norta-map></app-norta-map>
        }
    </div>
    

</div>
