@use "../../../import" as *;

.background_image {
    background-image: url("../../../assets/background_pictures/backgorund_stat.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    min-height: calc(100vh - $footerHeight);

    .location_container {
            background-color: #202229;
            filter: opacity(90%);
            margin-top: $globalPaddingTop;
            margin-bottom: 2rem;
            border-radius: 10px;
            color: white;
            margin-left: 8%;
            text-align: center;
            padding: 1rem;
            padding-bottom: 2rem;
            width: 25vw;
            display: grid;

            h2 {
                font-family: $subTitleFont;
                font-size: 40px;
                margin-bottom: 2rem;
            }

            p {
                font-size: larger;
                font-family: $contentFont;
                line-height: 1.5;
                margin-bottom: 2rem;
            }

            .birth_place {
                grid-column: 1fr;
            }

            .living_place {
                grid-column: 1fr;
            }

            button {
                align-self: flex-end;
                background-color: #DDB375;
                width: 11rem;
                height: 2.5rem;
                border-radius: 10px;
                justify-self: center;
                color: black;
                font-size: larger;
                font-family: $contentFont;
                line-height: 1.5;
                cursor: pointer;
            }
        }
}

@media screen and (min-width: 401px) and (max-width: 1200px) {

    .background_image {
        flex-direction: column;
        justify-items: center;

    
        .location_container {
            margin-right: 8%;
            width: 80%;
            margin-left: 10vw;
            margin-right: 10vw;
        }
    }
}

@media screen and (max-width: 400px) {


    .background_image {
        flex-direction: column;
        justify-items: center;

    
        .location_container {
            margin-right: 8%;
            width: 90%;
            margin-left: 5vw;
            margin-right: 5vw;
        }
    }
}