<section class="background-image">
    <div class = "content-page">
      <div class="selectStats">
        <h1 class="title">Statistiques </h1>
        <h2>Répartissez vos {{points}} points </h2>

        <ul>
        @for(stat of statistiques; track stat)
        {
          <li>
            <div class="stat">
              <div class="statName">{{stat.name}}</div> 
              <div class="statScore">{{stat.score}}</div>
            </div>
          </li>
        }
        </ul>
        
      </div>

      <div class="selectClass">
          <h1 class="title">Sélection des classes</h1>
            <div class="flexClasses">
              <button class="content" class="buttonLeft" (click)="decrementCount()"><div class="circleClasses"><</div></button>
                @for(filters of filterClasses; track filters)
                {
                  <div class="flexPic" style="width:40%">
                    <button  (click)="changePic(filters.name)"><img class="buttonPic" [ngStyle] = "{'border-color': selectedClass.name === filters.name ? '#DDB375' : 'black'}" src="{{filters.url}}"/></button>
                    <div>{{filters.name}}</div>
                  </div>
                }
                <button class="content" class="buttonRight" (click)="incrementCount()"><div class="circleClasses">></div></button>
            </div>
            
            @for(description of selectedClass.content;track description){
              <p class="text-description">
                  {{description}}
              </p>
            }
            <div class="displayValidationButton"><button class="validationButton">Valider</button></div>
      </div>


     </div>
</section>

      
  

