<section class="background-image">
    <div class = "content-page">
      <div class="selectStats">
        <h1 class="title">Statistiques </h1>

        <ul>
        @for(stat of statistiques; track stat)
        {
          <li>
            <div class="stat">
              <div class="statName">{{stat.name}}</div> 
              <div class="statScore">{{stat.score}}</div>
            </div>
          </li>
        }
        </ul>
        
      </div>

      <div class="selectClass">
          <h2 class="title">Sélection des classes</h2>
            <div class="flexClasses">
              <button class="content" class="buttonLeft" (click)="decrementCount()"><div class="circleClasses"><</div></button>
                
                <ul class="displayPic">
                @for(filters of filterClasses; track filters)
                {
                  <li class="flexPic">
                    <button  (click)="changePic(filters.name)"><img class="buttonPic" [ngStyle] = "{'border-color': selectedClass.name === filters.name ? '#DDB375' : 'black'}" src="{{filters.url}}"/></button>
                    <div>{{filters.name}}</div>
                  </li>
                }
                </ul>
                <button class="content" class="buttonRight" (click)="incrementCount()"><div class="circleClasses">></div></button>
            </div>
            
            <ul>
            @for(description of selectedClass.contents;track description){
              <li><p class="text-description">
                  {{description.content}}
              </p></li>
            }
            </ul>
            <div class="displayValidationButton">
              <button (click)="validate()" class="validationButton">Valider</button>
            </div>
      </div>


     </div>
</section>

      
  

