@use "../../../import" as *;

.circle{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color:#DDB375;
    color: black;
    display:flex;
    align-items: center;
    justify-content:center;
}

.text-description{
    margin-left:5%;
    margin-right:5%;
    margin-top:2%;
}

.circleClasses{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color:#DDB375;
    color: black;
    display:flex;
    align-items: center;
    justify-content:center;
    margin-top:8%;
    justify-content: center;
    align-items: center;
}

.background-image
{
  background-image: url(../../../assets/background_pictures/backgorund_stat.jpg);
}

.content-page
{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom:7%;
}

.statPage{
    margin-top:7%;
}

.statScore {
    margin-left:50px;
    width:70px;
}

.statName {
    width:150px;
}

.displayValidationButton{
    display:flex;
    align-items:center;
    justify-content:center;
}

@media screen and (max-width: 768px) {
    .content-page
    {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
  }

.content
{
    font-size: 20px;
}
// .buttonRight
// {
//     margin-left:90%;
//     margin-top:5%;
//     margin-bottom:5%;
// }
// .buttonLeft
// {
//     margin-left:5%;
//     margin-top:5%;
// }

.selectStats {
    width:400px;
    height:600px;
    background-color:#202229;
    margin-top: 11%;
    margin-bottom:12%;
    margin-left:6%;
    padding-left:2%;
    border-radius: 10px;
    
}

@media screen and (max-width: 768px) {
    .selectStats {
        margin-top: 100px;
    }
    .content-page{
        justify-content: center;
        align-items:center;
    }
  }

.modifying
{
    width:1000px;
    height:700px;
    background-color:#202229;
    margin-top: 7%;
    margin-bottom:12%;
    margin-left:20%;
    margin-right:20%;
    border-radius: 10px;
    color:white;
    font-size:20px;
}

.validationButton
{
    justify-content: center;
    align-items:center;
    text-align: center;
    background-color: #DDB375;
    color:black;
    border-radius: 5px;
    width:70px;
    height:30px;
}

h1{
    font-size:25px;
}

h2{
    font-size:20px;
    color: white;
    text-align:center;
}

.title
{
    color:white;
    text-align: center;
    margin-top : 5%
}

h2
{
    margin-top:5%;
    margin-bottom:5%;
}

.modifyTitle
{
    text-align: center;
    margin-top : 2%;
}

.modifyScore
{
    text-align: center;
    margin-top : 2%;
}

.stat{
    display:flex;
    flex-direction:row;
    color:white;
    height: 40px;
}
.modifying
{
    width:760px;
    height:600px;
    background-color:#202229;
    margin-bottom:12%;
    margin-left:6%;
    margin-right:6%;
    border-radius: 10px;
    color:white;
    font-size:13px;
}
.flexClasses
{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:2%;
    
}
.flexPic
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:5%;
}
button
{
    margin-top:0%;
}
