@use "../../../import" as *;

.background_image {
  background-image: url("../../../assets/background_pictures/main_background.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: calc(100vh - $footerHeight);
}

section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(51, 50, 50, 0.4);

    img {
        width: 20rem;
        height: auto;
    }

    p {
        margin-top: 2rem;
        color: white;
        font-size: 30px;
        font-family: $subTitleFont;
        font-weight: $fontBoldStyle;
        text-shadow: 2px 2px 2px $mainColor;
        text-align: center;
    }
  }

  @media screen and (max-width: 768px) {
    section {
        img {
            width: 15rem;
            height: auto;
     }

        p {
            font-size: 25px;
        }
    }
  }