//colors elements
$mainColor: #282828;
$textLightColor: #ffffff;
$textColor: black;

//imports fonts
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

//font-family-variables
$contentFont: "Inika", sans-serif;
$subTitleFont: "Cinzel", sans-serif;
$fontBoldStyle: bold;

//text-decoration
$borderCardBreed: 2px solid black;
$globalPaddingTop: 160px;

//for glossary
$glossaryPaddingLeftDesktop: 5%;
$glossaryPaddingRightDesktop: 5%;
$glossaryPaddingLeftMobile: 5%;
$glossaryPaddingRightMobile: 5%;
