@use "./import" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: "Roboto", sans-serif;
  font-weight: inherit;
  font-size: inherit;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

ul,
li {
  list-style: none;
}

span {
  color: $mainColor;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-weight: 600;
  font-size: 1rem;
}
