@use "./import" as *;
@use '@angular/material' as mat;

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

// Include the common styles for Angular Material. 
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker hue.
// Available color palettes: https://material.io/design/color/
$angular-17-project-template-primary: mat.define-palette(mat.$indigo-palette);
$angular-17-project-template-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-17-project-template-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual theming systems such as "color" or "typography".
$angular-17-project-template-theme: mat.define-light-theme((
  color: (
    primary: $angular-17-project-template-primary,
    accent: $angular-17-project-template-accent,
    warn: $angular-17-project-template-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component that you are using.
@include mat.all-component-themes($angular-17-project-template-theme);

// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  scroll-behavior: smooth !important;
}

html {
  scroll-behavior: smooth !important;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

ul,
li {
  list-style: none;
}

span {
  color: $mainColor;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-weight: 600;
  font-size: 1rem;
}

body {
  margin: 0;
}

html, body {
  height: 100%;
}
